/*=== General Stylesheet =========================================================================*/

input[type="text"] {
    font-family: Arial, "メイリオ", sans-selif;
    background-color: #434343;
    border: solid 1px #aaaaaa;
    color: #ffffff;
}

/*=== Content Layout =============================================================================*/

#content {
    position: absolute;
    top: 36px;
    left: 72px;
    width: calc(100% - 70px);

    /*=== Account List Layout ====================================================================*/
    > #account_list {
        position: absolute;
        top: 0px;
        left: -4px;
        width: 340px;
        text-align: center;

        > button {
            padding: 2px 24px;
            border-radius: 6px;
            border: solid 1px #ffffff;
        }
        > span {
            display: block;
            font-size: 13px;
        }
        > h2 {
            border-radius: 18px;
            background-color: #638042;
            text-align: center;
            color: #ffffff;
            margin: 0px;
            padding: 4px 24px;
        }
        > ul {
            margin: 0px;
            padding: 0px;
            height: calc(100vh - 152px);
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar { width: 8px; }
            > li {
                background-color: rgba(67,67,67,0.92);
                border-radius: 18px;
                list-style-type: none;
                margin: 4px;
                padding: 8px 12px;
                text-align: left;

                > h3 {
                    border-top-left-radius: 18px;
                    border-top-right-radius: 18px;
                    background-color: #808080;
                    background-image: url("../resources/ic_sort_y.png");
                    background-position: right 12px center;
                    background-repeat: no-repeat;
                    font-size: 18px;
                    font-family: Arial, "メイリオ", sans-selif;
                    color: #ffffff;
                    margin: -8px -12px 8px;
                    padding: 6px 32px;
                    cursor: move;
                }
                > .user {
                    >.usericon {
                        border-radius: 12px;
                        width: 48px;
                        height: 48px;
                        margin-right: 12px;
                        float: left;
                    }
                    > .username {
                        color: #ffffff;
                        font-size: 18px;
                        font-weight: bold;
                        margin: 0px;
                        width: calc(100% - 60px);
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    > .userid {
                        font-family: Arial, "メイリオ", sans-selif;
                        color: #cccccc;
                        font-size: 14px;
                    }
                }
                > .option {
                    margin: 8px 16px;
                    padding: 0px;
                    font-size: 13px;
                    > li {
                        list-style-type: none;
                        margin: 0px;
                        padding: 0px;
                    }
                }
                > .foot_button {
                    text-align: right;
                    margin: 12px 0px;

                    & button {
                        border-radius: 6px;
                        border: solid 1px #ffffff;
                        padding: 2px 8px;
                        font-size: 13px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    /*=== Account Authonation Window Layout ======================================================*/
    > #account_auth {
        position: absolute;
        top: 0px;
        right: 16px;
        text-align: center;
        width: calc(100vw - 428px);

        > h2 {
            border-radius: 18px;
            background-color: #42718a;
            color: #ffffff;
            margin: 0px;
            padding: 4px 24px;
        }
        > #transition_section {
            position: relative;
            border-radius: 24px;
            background-color: rgba(48,48,48,0.92);
            margin-top: 24px;
            width: 100%;
            height: calc(100vh - 124px);
            & button {
                border-radius: 8px;
                border: solid 2px #cccccc;
                font-family: Arial, "メイリオ", sans-selif;
                font-size: 18px;
                margin: 6px 12px;
                padding: 4px 32px;
            }
        }
        #select_platform {
            position: absolute;
            background-color: rgba(255,255,255,0.08);
            border-radius: 16px;
            margin: 18px;
            padding: 32px 12px;
            top: 50%;
            transform: translate(0%, -50%);
            right: 0px;
            left: 0px;
            > .instance_box {
                border-radius: 12px;
                background-color: rgba(255,255,255,0.1);
                font-size: 16px;
                font-family: Arial, "メイリオ", sans-selif;
                margin: 6px;
                padding: 8px 24px;
                > input { width: calc(100% - 96px); }
            }
            > .instance_info {
                background-color: rgba(255,255,255,0.08);
                background-size: auto 64px;
                background-position: center center;
                background-repeat: no-repeat;
                border-radius: 12px;
                margin: 6px;
                padding: 6px 2px;
                font-weight: bold;
                font-size: 15px;
                text-align: center;
                > .inline_emoji {
                    display: inline-block;
                    height: 24px;
                    width: auto;
                    vertical-align: text-bottom;
                }
            }
            > .bottom_auth_warn {
                display: block;
                color: #ffd561;
            }
        }
        .platform_section {
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            padding: 24px;
            right: 0px;
            left: 0px;
            display: none;
            > h3 {
                border-radius: 12px;
                background-color: #666666;
                color: #ffffff;
                margin: 12px 0px;
                padding: 8px 24px;
            }
            & button {
                border-radius: 6px;
                border: solid 2px #ffffff;
                font-family: Arial, "メイリオ", sans-selif;
                font-size: 18px;
                margin: 6px 12px;
                padding: 8px 32px;
            }
            .instance_box {
                border-radius: 6px;
                background-color: rgba(255,255,255,0.1);
                font-size: 16px;
                font-family: Arial, "メイリオ", sans-selif;
                margin: 6px 12px;
                padding: 8px 24px;
            }
            > .instance_form, > .auth_form {
                background-color: rgba(255,255,255,0.1);
                border-radius: 16px;
                padding: 24px 12px;
            }
        }
    }
}

