/*=== General Stylesheet =========================================================================*/

#header {
    container-type: inline-size;
    container-name: headerButtons;

    >.head_buttons {
        margin: 4px;
        text-align: center;
        background-color: rgba(34,34,34,0.717);

        > button.icon_label_set {
            border-radius: 24px;
            border-style: none;
            padding: 12px 36px;
            padding-left: 64px;
            font-size: 18px;
            font-weight: bold;
            > img {
                height: 48px;
                width: 48px;
            }
        }
        > #on_close {
            vertical-align: middle;
            transform: translate(0px, -2px);
            border-radius: 24px;
        }
    }
    > .middle_help {
        background-color: rgba(34,34,34,0.717);
        text-align: center;
        font-weight: bold;
        font-size: 13px;
    }
}
@container headerButtons (width < 770px) {
    #header>.head_buttons>button.icon_label_set {
        padding: 0px;
        background-color: transparent;
        height: 48px;
        width: 48px;
        vertical-align: middle;
        transform: translate(0px, -2px);
        > span { display: none; }
        &:hover { background-color: #888888; }
    }
}

/*=== Popup Window Area ==========================================================================*/

#pop {
    /*=== Internal Extend Timeline Window Layout =================================================*/
    .pref_window.ex_window {
        z-index: 31;
        width: min(480px,100vw);
        height: min(960px,calc(100vh - 48px));
        right: 0px;
        top: 32px;
        > .pref_content {
            overflow-y: auto;
            background-color: rgba(34,34,34,0.5);
            padding: 0px 8px 12px;
            font-size: 13px;
            height: calc(100% - 102px);

            &::-webkit-scrollbar { width: 8px; }
            & dt {
                padding: 4px 18px;
                margin: 16px -6px;
                font-size: 18px;
                font-weight: bold;
                border-bottom: solid 2px #aaaaaa;
            }
            & h5 {
                padding: 4px 18px;
                margin: 16px -6px;
                font-size: 16px;
                border-bottom: solid 1px #aaaaaa;
            }
            & dd {
                margin-bottom: 8px;
                margin-left: 8px;
                padding-left: 12px;
                border-left: solid 4px #aaaaaa;
            }
            & th, & td {
                margin: 1px;
                border-radius: 6px;
                padding: 4px 12px;
                background-color: rgba(255,255,255,0.08);
            }
            & img.tooltip_help {
                display: inline-block;
                width: 18px;
                height: 18px;
                vertical-align: text-bottom;
                cursor: help;
            }
            & ul.selector_list {
                margin: 0px;
                padding: 0px;
                > li {
                    margin: 2px 0px;
                    list-style-type: none;
                }
                > ul.selector_list {
                    border-left: dashed 4px #cccccc;
                    padding-left: 8px;
                }
            }
            .font_sample_box {
                border: dashed 2px #cccccc;
                padding: 4px 8px;
                > p {
                    margin: 4px 0px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
        > .footer>button {
            display: inline-block;
            width: calc(50% - 4px);
            height: 48px;
        }
    }
}

/*=== Column Layout ==============================================================================*/

#columns {
    overflow-y: hidden;

    > .column_box {
        width: 330px;

        > .col_head {
            background-color: #808080;
            background-image: url("../resources/ic_sort_x.png");
            background-position: right 82px bottom 7px;
            background-repeat: no-repeat;
            position: relative;
            cursor: move;
            > h2 { margin: 0px; }
            > .group_button {
                position: absolute;
                bottom: 0px;
                right: 8px;
            }
        }
        & select {
            padding: 2px 8px;
            width: 100%;
        }
        > .col_option {
            background-color: rgba(67,67,67,0.8);
            border-radius: 12px;
            margin: 2px 0px;
            padding: 2px 0px;
            font-size: 13px;
            text-align: center;
        }

        /*=== Group Layout ===================================================================*/
        > .col_tl_groups {
            height: calc(100vh - 292px);
            > .tl_group {
                position: relative;
                > .group_head {
                    background-color: #505050;
                    background-image: url("../resources/ic_sort_move.png");
                    background-position: right 56px bottom 2px;
                    background-repeat: no-repeat;
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                    height: 24px;
                    margin: 2px 0px;
                    padding: 2px 8px;
                    font-size: 12px;
                    text-align: left;
                    position: relative;
                    cursor: move;
                    > h3 { margin: 0px; }
                    > .group_pref {
                        position: absolute;
                        top: 4px;
                        right: 84px;

                        .__txt_group_height:disabled {
                            background-color: #808080;
                            cursor: not-allowed;
                        }
                    }
                    > .group_button {
                        position: absolute;
                        top: 2px;
                        right: 2px;
                        & img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
                > .group_option {
                    background-color: rgba(67,67,67,0.8);
                    border-radius: 6px;
                    margin: 2px 0px;
                    padding: 2px 0px;
                    height: 24px;
                    font-size: 13px;
                    text-align: center;

                    > select.__cmb_tl_layout { width: 96px; }
                    > button.__open_multi_tl_layout {
                        vertical-align: text-bottom;
                        > img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
                > table.tl_layout_options {
                    background-color: rgba(34,34,34,0.8);
                    display: none;
                    z-index: 1;
                    position: absolute;
                    top: 60px;
                    left: 0px;
                    width: 100%;
                    font-size: 12px;
                    & th {
                        border-radius: 8px;
                        &.default      { background-color: #3562cc; }
                        &.btrn         { background-color: #408a08; }
                        &.media        { background-color: #cc355d; }
                        &.notification { background-color: #a8880a; }
                    }
                    & button.__on_layout_close { width: 100%; }
                }
                > ul {
                    margin: 0px;
                    padding: 0px;
                    height: calc(100vh - 316px);
                    overflow-y: auto;

                    /*=== Timeline Layout ====================================================*/
                    > li {
                        > h4 {
                            position: relative;
                            border-top-left-radius: 12px;
                            border-top-right-radius: 12px;
                            background-image: url("../resources/ic_sort_move.png");
                            background-position: right 32px bottom 4px;
                            background-repeat: no-repeat;
                            color: #ffffff;
                            font-family: Arial, "メイリオ", sans-selif;
                            font-size: 18px;
                            font-weight: bold;
                            margin: -12px -12px 12px;
                            padding: 6px 24px;
                            background-color: #808080;
                            cursor: move;
                            > a {
                                display: inline-block;
                                position: absolute;
                                top: 4px;
                                right: 4px;
                                > img {
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                        > .tl_option {
                            font-size: 14px;
                            margin: 6px 12px;
                            > div { margin: 12px 0px; }
                            .lbl_external_instance {
                                > .instance_info {
                                    background-color: rgba(255,255,255,0.08);
                                    background-size: auto 64px;
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    border-radius: 12px;
                                    margin: 6px 0px;
                                    padding: 2px;
                                    font-weight: bold;
                                    font-size: 15px;
                                    text-align: center;
                                }
                                > .color_info {
                                    font-size: 13px;
                                    text-align: right;
                                }
                            }
                        }
                    }
                    > .ui-sortable-placeholder {
                        background-color: rgba(168,72,96,0.8);
                        border-radius: 18px;
                        height: 160px;
                    }
                }
            }
            > .ui-sortable-placeholder {
                background-color: rgba(168,72,96,0.8);
                border-radius: 18px;
                height: 160px;
            }
        }
    }
    > .ui-sortable-placeholder {
        background-color: rgba(168,72,96,0.8);
        border-radius: 18px;
        width: 300px;
    }
}
a.ic_button:hover>img {
    border-radius: 12px;
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
label { font-size: 12px; }
.__txt_col_head          { width: calc(100% - 12px); }
.__txt_col_width         { width: 64px; }
.__txt_group_head        { width: calc(100% - 152px); }
.__txt_group_height      { width: 48px; }
.__cmb_tl_layout         { font-size: 12px; }
.__txt_external_instance { width: calc(100% - 72px); }

