/*=== General ====================================================================================*/

body {
    background-color: #222222;
    background-image: url("../resources/illust/mitlin_back3.jpg");
    background-attachment: fixed;
    background-position: left 64px bottom 32px;
    background-repeat: no-repeat;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
*::-webkit-scrollbar-track { background-color: transparent; }
*::-webkit-scrollbar-thumb { background-color: #808080; }
a {
    &:any-link { color: #a5a9b5; }
    &:hover    { color: #d1d8ed; }
}
input {
    position: relative;
    text-align: left;
    background-color: #434343;
    border-radius: 4px;
    border: solid 1px #afafaf;
    color: #ffffff;
}
select {
    border-radius: 4px;
    background-color: #434343;
    color: #ffffff;
    border: solid 1px #afafaf;
}
input[type="radio"], input[type="checkbox"] {
    display: none;
    + label {
        display: inline-block;
        background-color: rgba(255,255,255,0.1);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 24px auto;
        background-image: url("../resources/ic_rem32.png");
        border-radius: 12px;
        padding: 3px 12px;
        padding-left: 32px;
        margin: 1px 0px;
        color: #cccccc;
        &:hover {
            background-color: #cfcfcf;
            color: #333333;
        }
        &:has(>img:only-child) {
            background-color: transparent;
            background-image: none;
            padding: 0px;
            cursor: pointer;
            > img { vertical-align: text-bottom; }
            &:hover { background-color: #888888; }
        }
    }
    &:checked:not([disabled])+label {
        background-color: #337a9f;
        color: #ffffff;
        &:hover {
            background-color: #afcfef;
            color: #333333;
        }
        &:has(>img:only-child) {
            background-color: #337a9f;
            background-image: none;
            &:hover { background-color: #77afef; }
        }
    }
    &[disabled]+label {
        opacity: 0.5;
        background-color: #222222;
        color: #666666;
        background-image: url("../resources/ic_not.png");
    }
}
input[type="checkbox"]:checked:not([disabled])+label { background-image: url("../resources/ic_check.png"); }
input[type="radio"]:checked:not([disabled])+label    { background-image: url("../resources/ic_radio.png"); }
button {
    border-radius: 6px;
    border: solid 1px #cccccc;
    background-color: #4f4f4f;
    color: #ffffff;

    &:hover { background-color: #777777; }
    &:active {
        background-color: #222222;
        color: #a0a0a0;
    }
    &[disabled] {
        background-color: #222222;
        color: #666666;
    }
}
button:has(>img:only-child) {
    border-style: none;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    > img           { vertical-align: text-bottom; }
    &:hover         { background-color: #777777; }
    &:active>img    { opacity: 0.5; }
    &[disabled]>img { opacity: 0.25; }
}
input[type="checkbox"]+label.icon_label_set, button.icon_label_set {
    position: relative;
    background-color: rgba(255,255,255,0.15);
    background-image: none;
    border-style: none;
    border-radius: 16px;
    font-size: 13px;
    padding: 4px 16px 4px 32px;
    cursor: pointer;
    > img {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 24px;
        height: 24px;
        vertical-align: text-bottom;
    }
    &:active {
        background-color: #222222;
        color: #a0a0a0;
    }
}
input[type="checkbox"]:checked+label.icon_label_set {
    background-image: none;
    background-color: #337a9f;
    color: #ffffff;
    &::before { content: ""; }
}
input[type="checkbox"]:not([disabled])+label.icon_label_set, button.icon_label_set:not([disabled]) {
    &:hover { background-color: #777777; }
}
input[type="checkbox"]:checked:not([disabled])+label.icon_label_set:hover {
    background-color: #afcfef;
    color: #333333;
}
input[type="checkbox"][disabled]+label.icon_label_set, button[disabled].icon_label_set {
    background-color: rgba(0,0,0,0.5);
    color: #666666;
    cursor: not-allowed;
    > img { opacity: 0.4; }
}
input[type="checkbox"]+label:has(>.check_mask) {
    position: relative;
    > img { vertical-align: text-bottom; }
    > .check_mask {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &:hover>.check_mask {
        display: block;
        background-color: rgba(159,58,51,0.6);
    }
}
input[type="checkbox"]:checked+label:has(>.check_mask) {
    &::before { content: ""; }
    > .check_mask {
        display: block;
        background-color: rgba(51,122,159,0.6);
        background-image: url("../resources/ic_check.png");
    }
}
audio { height: 30px; }

/*=== jQuery UI ==================================================================================*/

.ui-tooltip {
    background-color: rgba(34,34,34,0.85);
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 14px;
}
#pop>#pop_dialog { display: none; }
.ui-dialog {
    background-color: rgba(34,34,34,0.8);
    border-style: none;
}
.ui-dialog-titlebar,
.ui-dialog-buttonpane {
    background-color: rgba(62,62,62,0.92);
    border-style: none;
}
.ui-dialog-content,
.ui-dialog-title {
    color: #ffffff;
}
.ui-button {
    background-color: #606060;
    font-family: "メイリオ", sans-selif;
    color: #ffffff;
    font-size: 13px;
    width: 128px;
    height: 42px;
}

/*=== Navigation =================================================================================*/

#navi {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(67,85,107,0.85);
    border-top-right-radius: 24px;
    width: 64px;
    height: 100vh;

    > ul {
        margin: 32px 8px;
        padding: 0px;

        > li {
            list-style-type: none;
            margin: 16px 0px;
            padding: 0px;
            > a>img {
                width: 48px;
                height: 48px;
                object-fit: cover;
            }
            > a:hover>img {
                border-radius: 12px;
                background-color: rgba(255,255,255,0.15);
                cursor: pointer;
            }
        }
    }
    > #bottom_navi {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
}

/*=== Header =====================================================================================*/

#header {
    position: absolute;
    top: 0px;
    left: 66px;
    width: calc(100% - 66px);

    > h1 {
        margin: 0px;
        padding: 2px 18px;
        padding-left: 32px;
        text-align: left;
        font-family: Arial, "メイリオ", sans-selif;
        font-size: 18px;
        background-color: #325c9c;
        color: #ffffff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
    }
}

/*=== Popup Window Area ==========================================================================*/

#pop {
    /*=== Toast ==================================================================================*/
    > #pop_toast {
        z-index: 9;
        font-family: Arial, "メイリオ", sans-selif;
        font-size: 16px;
        position: absolute;
        font-weight: bold;
        top: 114px;
        left: 64px;

        > span {
            display: block;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            margin: 4px 0px;
            padding: 8px 32px;
            padding-left: 148px;
            height: 48px;
            width: 400px;
            color: #ffffff;
            background-position: left center;
            background-repeat: no-repeat;
        }
        > span.toast_progress {
            background-color: rgba(34,34,34,0.92);
            background-image: url("../resources/illust/ani_wait.png");
        }
        > span.toast_done {
            background-color: rgba(34,60,72,0.92);
            background-image: url("../resources/illust/il_done.png");
        }
        > span.toast_error {
            background-color: rgba(72,42,34,0.92);
            background-image: url("../resources/illust/il_error.png");
        }
    }
    /*=== Notifications Layout ===================================================================*/
    > #pop_notification {
        z-index: 76;
        position: absolute;
        top: 108px;
        left: 64px;

        > ul {
            margin: 0px;
            padding: 0px;
            > li {
                list-style-type: none;
                margin: 4px 0px;
                > span {
                    display: inline-block;
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                    border: solid 2px #cccccc;
                    border-left-style: none;
                    padding: 8px 24px;
                    padding-left: 108px;
                    background-color: rgba(34,34,34,0.8);
                    background-position: left bottom 35%;
                    background-repeat: no-repeat;
                    background-size: 96px auto;
                    font-size: 16px;
                    font-weight: bold;
                }
                > .progress  {
                    background-image: url("../resources/illust/ani_wait.png");
                }
                > .info  {
                    background-image: url("../resources/illust/il_info2.png");
                }
                > .done  {
                    background-color: rgba(34,60,72,0.8);
                    background-image: url("../resources/illust/il_done2.png");
                }
                > .error {
                    background-image: url("../resources/illust/il_err2.png");
                }
            }
        }
        > ul.progress { display: none; }
    }

    /*=== Extend Column (Help Window) ============================================================*/
    > #pop_extend_column {
        display: none;
        z-index: 60;
        border-radius: 12px;
        background-color: rgba(34,34,34,0.8);
        padding: 4px 0px 4px 4px;
        position: absolute;
        top: 24px;
        right: 0px;

        > .help_col {
            width: min(640px,100vw);
            > h2 {
                border-top-left-radius: 18px;
                border-bottom-left-radius: 18px;
                background-color: rgba(67,96,132,0.8);
                font-family: Arial, "メイリオ", sans-selif;
                font-size: 20px;
                color: #ffffff;
                margin: 0px;
                padding: 12px 24px;
            }
            > .help_navi {
                height: 160px;
                overflow-y: auto;
                &::-webkit-scrollbar { width: 8px; }
                & ul {
                    margin: 0px;
                    padding: 0px;
                    > li {
                        list-style-type: none;
                        > a {
                            display: block;
                            background-color: rgba(62,62,62,0.92);
                            margin: 4px 0px;
                            padding: 2px 24px;
                            border-radius: 12px;
                            font-size: 14px;
                            &:hover {
                                background-color: rgba(62,96,128,0.92);
                                padding-left: 32px;
                            }
                        }
                    }
                    > ul {
                        border-left: solid 24px #aaaaaa;
                        border-top-left-radius: 16px;
                        border-bottom-left-radius: 16px;
                    }
                }
            }
            > .help_content {
                overflow-y: auto;
                background-color: rgba(34,34,34,0.5);
                padding: 0px 18px 8px;
                font-size: 13px;

                &::-webkit-scrollbar { width: 8px; }
                & h3 {
                    padding: 6px 18px;
                    margin: 16px -12px;
                    font-size: 20px;
                    border-bottom: solid 2px #aaaaaa;
                }
                & h4 {
                    padding: 6px 18px;
                    margin: 16px -12px;
                    font-size: 17px;
                    border-bottom: solid 1px #aaaaaa;
                }
                & dt {
                    padding: 0px 12px;
                    font-size: 14px;
                    border-left: solid 8px #aaaaaa;
                }
                & dd {
                    margin-bottom: 8px;
                    margin-left: 8px;
                    padding-left: 12px;
                    border-left: solid 4px #aaaaaa;
                    > .shortcut_key {
                        border-top-right-radius: 12px;
                        border-bottom-right-radius: 12px;
                        margin: 4px 0px;
                        margin-left: -12px;
                        padding: 2px 16px;
                        background-color: #bbbbbb;
                        color: #333333;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
                & th, & td {
                    margin: 1px;
                    border-radius: 6px;
                    padding: 2px 8px;
                    background-color: rgba(255,255,255,0.08);
                }
                & strong { color: #ffff00; }
                .mistdon_logo {
                    width: 100%;
                    height: auto;
                }
                & a.__on_detail_hashtag { text-decoration: underline; }
                .current_version {
                    border-radius: 8px;
                    background-color: #bbbbbb;
                    color: #333333;
                    padding: 2px 16px;
                    font-size: 18px;
                    font-family: Arial, "メイリオ", sans-selif;
                    font-weight: bold;
                    text-align: right;
                }
            }
            > .help_navi+.help_content    { height: calc(100vh - 288px); }
            > .help_content.shortcut_list { height: calc(100vh - 132px); }
        }
    }

    /*=== Internal Extend Timeline Window Layout =================================================*/
    .ex_window {
        display: none;
        position: absolute;
        top: 18px;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        border: solid 2px #bbbbbb;
        background-color: rgba(34,34,34,0.683);
        color: #fff;
        > h2 {
            background-color: #87995f;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            margin: 0px;
            padding: 8px 16px;
            padding-right: 72px;
            font-size: 18px;
            font-family: Arial, "メイリオ", sans-selif;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: move;
        }
        > .window_buttons {
            > button.window_close_button, > label.window_opacity_button {
                position: absolute;
                top: 4px;
                margin: 0px;
                padding: 0px;
                > img {
                    height: 28px;
                    width: auto;
                }
            }
            > button.window_close_button  { right: 6px; }
            > label.window_opacity_button { right: 42px; }
        }
        &:has(input.__window_opacity:checked) {
            opacity: 0.12;
            transition: opacity 0.2s;
            &:hover { opacity: 1.0; }
        }
    }

    /*=== Color Palette ==========================================================================*/
    > #pop_palette {
        position: absolute;
        display: none;
        z-index: 9;
        border-radius: 12px;
        background-color: rgba(34,34,34,0.85);
        width: 140px;
        padding: 6px;
    }
}
button.close_button {
    display: block;
    border-radius: 12px;
    padding: 4px;
    text-align: center;
    width: 100%;
    border: solid 2px #ffffff;
    font-size: 16px;
    font-weight: bold;
}
.__on_select_color, .__on_call_palette {
    position: relative;
    top: -2px;
    display: inline-block;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    border: solid 1px #808080;
    margin: 2px;
    cursor: crosshair;
}
.__on_call_palette { margin-left: 4px; }
.__on_select_color:hover {
    border-color: #ffffff;
    cursor: pointer;
}

