/*=== Header (Post Article Area) =================================================================*/

#header {
    > h1 {
        position: relative;
        padding: 0px;
        height: 32px;
        > .head_user {
            padding: 2px;
            padding-left: 48px;
            background-position: center left 6px;
            background-repeat: no-repeat;
            background-size: 32px 32px;
        }
        > .head_tips {
            display: none;
            position: absolute;
            font-size: 16px;
            top: 4px;
            > .prefix {
                display: inline-block;
                border-radius: 8px;
                padding: 2px 8px;
                margin-right: 8px;
                background-color: var(--core-color-nega-bg);
                color: var(--core-color-nega-text);
            }
        }
    }

    /*=== Default Post Area Layout ===============================================================*/
    > #head_postarea {
        display: flex;
        background-color: var(--core-color-ui-bg);
        border-radius: 12px;
        margin: 2px 0px;
        width: calc(100vw - 72px);
        &.flex_form {
            container-type: inline-size;
            container-name: header;
        }

        > * { flex-shrink: 0; }

        > .post_user {
            flex-basis: 72px;
            margin-right: 2px;
            > .__lnk_postuser {
                display: block;
                width: 72px;
                height: 72px;
                & img {
                    border-radius: 12px;
                    width: 72px;
                    height: 72px;
                    cursor: pointer;
                }
            }
        }
        > .opt_buttons {
            flex-basis: 74px;
            padding: 0px 4px;
            & img {
                width: 36px;
                height: 36px;
            }
            #post_length_graph {
                border-radius: 50%;
                border: solid 3px var(--core-color-border);
                width: 30px;
                height: 30px;
                font-size: 1px;
                vertical-align: top;
                display: inline-block;
            }
            > * { margin: -1px; }
        }
        > .textbox_area {
            position: relative;
            flex-grow: 1;
            > #textarea_buttons {
                display: none;
                position: absolute;
                top: 4px;
                right: 4px;
                > button>img {
                    width: 28px;
                    height: 28px;
                }
                > #__on_another_submit { display: none; }
            }
            > #__txt_postarea {
                width: calc(100% - 8px);
                height: 68px;
                &+#textarea_buttons { display: block; }
                &:focus+#textarea_buttons { opacity: 0.25; }
            }
            > .__window_opened {
                width: calc(100% - 8px);
                padding: 24px 0px;
                background-color: var(--head-color-opened-textarea-bg);
                background-image: url("../resources/illust/il_info2.png");
                background-position: center left +8px;
                background-repeat: no-repeat;
                color: var(--head-color-opened-textarea-text);
                border-radius: 18px;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
            }
            > #__hdn_text_render {
                z-index: -1;
                position: absolute;
            }
        }
        > .submit_button {
            flex-basis: 74px;
            > #__on_submit>img {
                width: 72px;
                height: 72px;
            }
        }
        > .additional_buttons {
            flex-basis: 113px;
            > * { margin: -1px; }
        }
    }

    /*=== Advanced Post Options Layout ===========================================================*/
    > #post_options {
        display: none;
        position: absolute;
        top: 108px;
        left: 0px;
        margin-top: 4px;
        z-index: 50;
        border-radius: 12px;
        background-color: var(--head-color-options-bg);
        border: solid 2px var(--core-color-border);
        width: calc(100vw - 72px);
        overflow-x: auto;
        &::-webkit-scrollbar { height: 8px; }
        > .flex_section {
            display: flex;
            width: 100%;
            height: 208px;

            > * { flex-shrink: 0; }

            & h5 {
                border-bottom: solid 1px var(--core-color-border);
                margin: 4px 0px;
                padding: 0px 12px;
                color: var(--head-color-opthead-text);
                text-align: left;
                font-size: 14px;
                > button>img {
                    width: 18px;
                    height: 18px;
                }
            }
            > div { padding: 0px 2px; }
            & ul {
                margin: 0px;
                padding: 0px;
                > li { list-style-type: none; }
            }
            > .option_close {
                position: relative;
                border-radius: 12px;
                flex-basis: 24px;
                > button>img {
                    width: 24px;
                    height: 24px;
                }
                > h5 {
                    position: absolute;
                    top: 24px;
                    left: 24px;
                    transform: rotate(90deg);
                    transform-origin: left top;
                    white-space: nowrap;
                    border-style: none;
                    color: var(--core-color-text);
                }
            }

            > .additional_users {
                flex-basis: 172px;
                text-align: center;
                > ul.account_list {
                    overflow-y: auto;
                    height: calc(100% - 32px);
                    &::-webkit-scrollbar { width: 8px; }
                    > li {
                        display: inline-block;
                        > label {
                            border-radius: 16px;
                            padding: 1px;
                            margin: 2px;
                            > img {
                                width: 48px;
                                height: 48px;
                                border-radius: 16px;
                            }
                            > .check_mask {
                                border-radius: 16px;
                                background-size: 32px 32px;
                            }
                        }
                        > input.__chk_add_account[disabled]+label>.check_mask {
                            display: block;
                            background-color: var(--core-color-checkmask-disabledbg);
                            background-image: url("../resources/ic_check.png");
                        }
                    }
                    + .option_close {
                        background-color: var(--label-color-optusers-bg);
                        display: none;
                    }
                }
            }
            > .publish_setting {
                flex-basis: 172px;
                text-align: center;
                & input[name="__opt_visibility"]+label {
                    border-radius: 16px;
                    > img {
                        width: 36px;
                        height: 36px;
                    }
                }
                #__txt_content_warning, #__cmb_post_to { width: 158px; }
            }
            > .poll_setting {
                display: none;
                flex-basis: 156px;
                > ul.poll_options {
                    overflow-y: auto;
                    height: calc(100% - 84px);
                    &::-webkit-scrollbar { width: 8px; }
                }
                .poll_option_button {
                    vertical-align: text-bottom;
                    > img {
                        width: 24px;
                        height: 24px;
                    }
                }
                #__chk_poll_multiple+label { font-size: 13px; }
                .__txt_poll_option { width: calc(100% - 8px); }
                #__txt_poll_expire_time { width: 82px; }
                + .option_close { background-color: var(--label-color-optpolls-bg); }
            }
            > .attached_media {
                flex-grow: 1;
                > ul.media_list {
                    margin: 0px 8px;
                    margin-bottom: 4px;
                    overflow-y: auto;
                    height: calc(100% - 62px);
                    &::-webkit-scrollbar { width: 8px; }
                    > li {
                        position: relative;
                        display: inline-block;
                        & label {
                            padding: 0px;
                            border-radius: 12px;
                            > .check_mask {
                                border-radius: 12px;
                                background-color: var(--core-color-checkmask-hoverbg);
                            }
                        }
                        & img {
                            display: inline-block;
                            width: 216px;
                            height: 144px;
                            border-radius: 12px;
                            vertical-align: text-bottom;
                            object-fit: cover;
                        }
                        &.__initial_message {
                            display: block;
                            padding: 56px 0px;
                            background-color: var(--core-color-thinui-bg);
                            border-radius: 12px;
                            text-align: center;
                        }
                        & input[type="checkbox"]:checked+label>.check_mask {
                            background-color: var(--head-color-mediamsk-activebg);
                            background-image: url("../resources/ic_warn.png");
                            background-size: 96px 96px;
                        }
                        &.ui-sortable-placeholder {
                            background-color: var(--core-color-sort-placeholder-bg);
                            border-radius: 16px;
                            width: 216px;
                            height: 132px;
                        }
                        &.warn_sensitive::after {
                            content: "";
                            z-index: 1;
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            background-color: var(--core-color-warn-bg);
                            background-image: url("../resources/ic_warn.png");
                            background-repeat: no-repeat;
                            background-size: 32px 32px;
                            width: 32px;
                            height: 32px;
                            border-radius: 16px;
                        }
                    }
                }
                > .__attach_delete_box {
                    display: none;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    width: 220px;
                    height: 190px;
                    background-color: var(--core-color-sort-placeholder-bg);
                    border: dashed 4px var(--core-color-border);
                    > .initial_dust {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 180px;
                        height: 180px;
                        background-image: url("../resources/ic_dust.png");
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                }
            }
            > .refernced_post {
                display: none;
                flex-basis: 320px;
                > ul.refernce_post {
                    overflow-y: auto;
                    height: calc(100% - 32px);
                    max-width: 100%;
                    > li {
                        margin: 2px;
                        &.__initial_message {
                            padding: 68px 0px;
                            background-color: var(--tl-color-bg);
                            border-radius: 12px;
                            text-align: center;
                        }
                    }
                }
                + .option_close { background-color: var(--label-color-optrefer-bg); }
            }
        }
    }
}
@keyframes marquee-anim {
    0%   { left: 100%; transform: translate(0); }
    100% { left: 0; transform: translate(-100%, 0); }
}
@container header (width < 580px) {
    #head_postarea.flex_form:has(#__txt_postarea)>.additional_buttons { display: none; }
    #head_postarea.flex_form:has(.__window_opened)>.submit_button { display: none; }
}
@container header (width < 460px) {
    #head_postarea.flex_form:has(#__txt_postarea)>.submit_button { display: none; }
    #head_postarea.flex_form:has(#__txt_postarea)>.textbox_area>#textarea_buttons>#__on_another_submit { display: inline-block; }
    #head_postarea.flex_form:has(.__window_opened)>.textbox_area { display: none; }
}
@container header (width < 380px) {
    #head_postarea.flex_form:has(#__txt_postarea)>.opt_buttons { display: none; }
}
@container header (width < 300px) {
    #head_postarea.flex_form:has(#__txt_postarea)>.post_user { display: none; }
}
@container header (width < 270px) {
    #head_postarea.flex_form:has(.__window_opened)>.additional_buttons { display: none; }
}

#navi .li_reconnect { display: none; }
#__txt_postarea {
    padding: 2px;
    font-family: "メイリオ", sans-selif;
    text-align: left;
    border-radius: 8px;
    background-color: var(--head-color-textarea-bg);
    border: solid 1px var(--core-color-border);
    color: var(--core-color-text);
    font-size: var(--font-size-default);
    resize: none;
    &::selection {
        color: var(--core-color-nega-text);
        background-color: var(--core-color-nega-bg);
    }
}

/*=== Navigation Area Container ==================================================================*/

#navi { container-type: size; container-name: navigation; }

@container navigation (height < 990px) {
    #navi>ul {
        margin: 24px 14px;
        >li {
            margin: 8px 0px;
            > a>img {
                width: 36px;
                height: 36px;
            }
        }
    }
}
@container navigation (height < 710px) {
    #navi>ul {
        margin: 18px;
        >li {
            margin: 4px 0px;
            > a>img {
                width: 28px;
                height: 28px;
            }
        }
    }
}

/*=== Popup Window Area ==========================================================================*/

#pop {
    /*=== General Context Menu Layout ============================================================*/
    > .pop_context {
        display: none;
        z-index: 92;
        position: absolute;
        top: 108px;
        left: 12px;

        & ul {
            border-radius: 8px;
            background-color: var(--core-color-ui-bg);
            border: solid 1px var(--core-color-border);
            padding: 2px;
            color: var(--core-color-text);
            font-size: 13px;

            > li {
                > div {
                    border-radius: 8px;
                    margin: 2px 0px;
                    padding: 4px 12px;
                }
                > div.ui-state-active {
                    border: solid 1px var(--core-color-nega-border);
                    background-color: var(--core-color-nega-bg);
                    color: var(--core-color-nega-text);
                    font-weight: bold;
                }
            }
        }
        > ul ul { width: max-content; }
        & .inline_emoji { height: 18px; }
    }

    /*=== Post Account Select Menu ===============================================================*/
    > #pop_postuser {
        display: none;
        z-index: 82;
        width: 360px;
        position: absolute;
        top: 108px;
        left: 72px;

        .__lnk_account_elm>div {
            position: relative;
            padding: 2px 6px;

            > .user_icon {
                border-radius: 12px;
                width: 48px;
                height: 48px;
            }
            > .display_name {
                position: absolute;
                left: 72px;
                top: 8px;
                font-size: 14px;
                font-weight: bold;
            }
            > .user_domain {
                position: absolute;
                left: 72px;
                top: 32px;
                font-family: Arial, "メイリオ", sans-selif;
                font-size: 13px;
            }
        }
    }

    /*=== Draft Menu Layout ======================================================================*/
    > #pop_draft {
        display: none;
        z-index: 81;
        position: absolute;
        top: 108px;
        left: 72px;

        > ul.draft_menu {
            margin: 0px;
            padding: 0px;
            width: min(420px,calc(100vw - 64px));
            height: calc(100vh - 118px);
            overflow-y: auto;
            &::-webkit-scrollbar { width: 8px; }
            > li {
                background-color: var(--tl-color-bg);
                list-style-type: none;
                margin: 4px 0px;
                position: relative;
                padding: 2px 6px;
                border: solid 2px var(--core-color-border);
                border-radius: 12px;

                .user_icon {
                    border-radius: 12px;
                    width: 48px;
                    height: 48px;
                }
                .user_id {
                    position: absolute;
                    left: 64px;
                    top: 8px;
                    font-size: 14px;
                    font-family: Arial, "メイリオ", sans-selif;
                    font-weight: bold;
                }
                .create_date {
                    position: absolute;
                    left: 64px;
                    top: 32px;
                    font-family: Arial, "メイリオ", sans-selif;
                    font-size: 13px;
                }
                .content {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 12px;
                    margin: 4px 12px;
                    margin-top: -2px;
                }
                &:hover {
                    background-color: var(--tl-color-hoverbg);
                    cursor: pointer;
                }

            }
        }
    }

    /*=== Notification Log Layout ================================================================*/
    > #pop_notif_log {
        display: none;
        z-index: 3;
        position: absolute;
        bottom: 0px;
        left: 64px;

        > ul {
            background-color: rgba(0,0,0,0.92);
            margin: 0px;
            padding: 6px;
            height: 50vh;
            width: min(720px,calc(100vw - 64px));
            overflow-y: auto;
            &::-webkit-scrollbar { width: 8px; }

            > li {
                list-style-type: none;
                font-family: Consolas, "ＭＳ ゴシック", sans-selif;
                font-size: 14px;
                &.done  { color: #00ff00; }
                &.error { color: #ff0000; }
            }
        }
    }

    /*=== Drop Files Modal Layout ================================================================*/
    > .pop_modal {
        display: none;
        background-color: var(--core-color-modal-bg);
        position: fixed;
        top: 0px;
        left: 0px;
        text-align: center;
        width: 100vw;
        height: 100vh;
    }
    > #modal_drop_files {
        z-index: 100;
        > .dropbox {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: dashed 6px var(--core-color-border);
            width: calc(100vw - 32px);
            height: calc(100vh - 32px);
            &:hover { background-color: var(--core-color-thinui-bg); }
            > .message {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                > span {
                    margin-top: 8px;
                    display: block;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }

    /*=== Expand Image Modal Layout ==============================================================*/
    > #modal_expand_image {
        z-index: 91;
        > ul {
            margin: 0px;
            padding: 0px;
        }
        > #expand_image_box>li {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            > .expanded_media {
                display: none;
                width: 95vw;
                height: calc(95vh - 128px);
                margin: 0px auto;
                object-fit: contain;
            }
        }
        > #expand_thumbnail_list {
            position: absolute;
            bottom: 18px;
            left: 50%;
            transform: translate(-50%, 0%);
            > li {
                display: inline-block;
                list-style-type: none;
                width: 128px;
                height: 128px;
                margin: 4px;
                > img {
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &.selected_image>img { border: solid 4px var(--core-color-border); }
            }
        }
    }

    /*=== Post Expand Window Layout ==============================================================*/
    > #pop_expand_post {
        display: none;
        z-index: 64;
        position: absolute;

        & ul {
            background-color: transparent;
            height: auto;
            > li, > li:hover {
                border: solid 2px var(--core-color-border);
                border-left-width: 8px;
                background-color: var(--tl-color-popbg);
            }
        }
        &.reply_pop ul>li {
            border: dashed 2px var(--core-color-border);
            > .user>*:not(.usericon) { display: none; }
        }
    }

    /*=== Post Default Action Pop Layout =========================================================*/
    > #pop_expand_action {
        display: none;
        z-index: 41;
        position: absolute;
        border-radius: 8px;
        background-color: var(--core-color-dialog-bg);
        border: solid 1px var(--core-color-border);
        max-width: 320px;
        padding: 3px;
        font-size: 1px;

        & button {
            vertical-align: text-bottom;
            > img {
                display: inline-block;
                vertical-align: text-bottom;
                height: 28px;
                width: auto;
            }
        }
        & a {
            display: inline-block;
            > img {
                display: inline-block;
                vertical-align: text-bottom;
                height: 24px;
                width: auto;
            }
            &:hover {
                background-color: var(--core-color-thinui-bg);
                filter: brightness(var(--core-brightness-hover));
                cursor: pointer;
            }
        }
        > .std_action>button { margin: 0px 1px; }
        > .reactions>.recent { display: inline; }
        > .impressions {
            margin-top: 2px;
            > span {
                display: inline-block;
                border-radius: 8px;
                background-position: center left 2px;
                background-repeat: no-repeat;
                background-size: 24px 24px;
                padding: 2px;
                padding-left: 32px;
                padding-right: 16px;
                font-family: Arial, "メイリオ", sans-selif;
                font-size: 14px;
                font-weight: bold;
                &.impress_reply {
                    background-color: var(--label-color-reply-bg);
                    background-image: url("../resources/ic_rpl.png");
                }
                &.impress_reblog {
                    background-color: var(--label-color-reblog-bg);
                    background-image: url("../resources/ic_reblog.png");
                }
                &.impress_fav {
                    background-color: var(--label-color-favorite-bg);
                    background-image: url("../resources/ic_favorite.png");
                }
            }
        }
        &.list_action {
            padding: 1px;
            > .std_action>button { margin: 0px; }
            & img { height: 20px !important; }
            & button.__short_open_list { display: none; }
        }
    }

    /*=== Drive Window Layout ====================================================================*/
    > #pop_dirve_window {
        display: none;
        background-color: var(--core-color-dialog-bg);
        padding: 4px;
        border-radius: 12px;
        width: min(800px,90vw);
        height: calc(100vh - 380px);
        position: absolute;
        top: 320px;
        left: 50vw;
        transform: translate(-50%, 0%);
        z-index: 71;
        > ul.drive_folder_list {
            height: 48px;
            white-space: nowrap;
            overflow-x: auto;
            margin: 0px;
            padding: 0px;
            &::-webkit-scrollbar { height: 8px; }
            > li {
                display: inline-block;
                margin: 0px;
                padding: 12px;
                border-radius: 12px;
                background-color: var(--head-color-drive-folder-bg);
                background-image: url("../resources/ic_folder.png");
                background-position: center left 8px;
                background-repeat: no-repeat;
                background-size: 32px 32px;
                padding-left: 48px;
                width: 160px;
                height: calc(100% - 32px);
                font-size: 16px;
                font-family: Arial, "メイリオ", sans-selif;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                &[name="__root"] { background-image: url("../resources/ic_top.png"); }
                &:hover {
                    filter: brightness(var(--core-brightness-hover));
                    cursor: pointer;
                }
            }
        }
        > ul.drive_media_list {
            height: calc(100% - 108px);
            overflow-y: auto;
            margin: 0px;
            padding: 0px;
            &::-webkit-scrollbar { width: 8px; }
            > li {
                display: inline-block;
                list-style-type: none;
                width: 25%;
                > label {
                    display: inline-block;
                    width: 100%;
                    padding: 0px;
                    position: relative;
                    overflow: hidden;
                    margin: 0px;
                    &::before {
                        content: "";
                        padding-top: 100%;
                        display: block;
                    }
                    > img {
                        border-radius: 8px;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        object-fit: cover;
                        vertical-align: text-bottom;
                    }
                    &.label_video::after {
                        content: "";
                        background-image: url("../resources/ic_video.png");
                        background-repeat: no-repeat;
                        background-size: 32px 32px;
                        z-index: 1;
                        position: absolute;
                        top: 2px;
                        right: 2px;
                        width: 32px;
                        height: 32px;
                    }
                    &.warn_sensitive::after {
                        content: "";
                        z-index: 1;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        background-color: var(--core-color-warn-bg);
                        background-image: url("../resources/ic_warn.png");
                        background-repeat: no-repeat;
                        background-size: 32px 32px;
                        width: 32px;
                        height: 32px;
                        border-radius: 16px;
                    }
                }
                &.__scroll_loader {
                    display: block;
                    background-color: var(--tl-color-loader-bg);
                    margin: 6px;
                    padding: 8px 12px;
                }
            }
        }
        > .footer>button {
            display: inline-block;
            width: calc(50% - 4px);
            height: 48px;
        }
    }

    /*=== Extra Timeline Window Layout ===========================================================*/
    > #pop_ex_timeline {
        display: none;
        z-index: 63;
        border-radius: 8px;
        background-color: var(--core-color-window-bg);
        padding: 4px 0px 4px 4px;
        position: absolute;
        top: 32px;
        right: 0px;

        > h2 { background-color: var(--core-color-header-bg); }
        & input {
            font-family: "メイリオ", sans-selif;
            font-size: 16px;
            background-color: var(--core-color-input-bg);
            border-radius: 4px;
            border: solid 1px var(--core-color-border);
            color: var(--core-color-text);
        }

        /*=== Search Timeline Layout =============================================================*/
        > .search_timeline {
            > .search_options {
                #__txt_search_query { width: calc(100% - 64px); }
                & label {
                    width: calc(50% - 48px);
                    font-size: 14px;
                }
                & p { margin: 8px 0px; }
            }
            & ul.search_ul { height: calc(100vh - 248px); }
        }

        /*=== Trend Timeline Layout ==============================================================*/
        > .trend_timeline {
            > a.__on_get_features {
                display: block;
                background-color: var(--label-color-hdfeatures-bg);
                margin: 4px;
                padding: 6px;
                border-radius: 12px;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                &:hover {
                    filter: brightness(var(--core-brightness-hover));
                    cursor: pointer;
                }
            }
            > ul.trend_tags {
                margin: 0px;
                padding: 0px 6px;
                height: 200px;
                overflow-y: auto;
                &::-webkit-scrollbar { width: 8px; }
                > li {
                    display: inline-block;
                    list-style-type: none;
                    border-radius: 6px;
                    margin: 0px;
                    padding: 0px 8px;
                    padding-top: 2px;
                    font-family: Arial, "メイリオ", sans-selif;
                    font-size: 13px;
                    font-weight: bold;
                    vertical-align: middle;
                    height: 22px;
                    border: solid 1px var(--core-color-nega-border);
                    > span { vertical-align: middle; }
                    &:hover {
                        filter: brightness(var(--core-brightness-hover));
                        cursor: pointer;
                    }
                }
            }
            & ul.trend_ul { height: calc(100vh - 400px); }
        }

        /*=== History Timeline Layout ============================================================*/
        > .history_timeline {
            display: flex;
            width: min(960px,calc(100vw - 64px));
            overflow-x: auto;
            &::-webkit-scrollbar { height: 8px; }

            > div {
                flex-basis: 300px;
                flex-shrink: 0;
                flex-grow: 1;

                > .col_head {
                    border-top-left-radius: 18px;
                    border-top-right-radius: 18px;
                    padding: 8px 0px;
                    > h3 {
                        margin: 0px;
                        padding: 0px;
                        text-align: center;
                    }
                }
                > .timeline {
                    position: relative;
                    & li {
                        position: relative;
                        > .delete_modal {
                            display: none;
                            border-radius: 12px;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            background-color: var(--core-color-thinui-bg);
                            > .buttons {
                                position: absolute;
                                width: 50%;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                text-align: center;
                                > button {
                                    display: block;
                                    width: 100%;
                                    border-radius: 12px;
                                    padding: 4px;
                                    text-align: center;
                                    border: solid 2px var(--core-color-border);
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                            }
                        }
                        &:hover>.delete_modal { display: block; }
                        &.external_deleted {
                            background-color: var(--core-color-nega-bg);
                            color: var(--core-color-nega-text);
                            text-align: center;
                            font-size: 14px;
                            font-weight: bold;
                            border-radius: 16px;
                        }
                    }
                }
                &.reaction_history>.col_head { background-color: var(--label-color-hdrhist-bg); }
                &.post_history>.col_head     { background-color: var(--label-color-hdphist-bg); }
            }
        }
    }

    /*=== Internal Extend Timeline Window Layout =================================================*/
    .timeline_window.ex_window {
        z-index: 31;
        width: min(380px,100vw);
        height: min(960px,100vh);
        right: 0px;
        top: auto;
        bottom: 12px;
        > .timeline {
            height: calc(100% - 38px);
            > ul { height: 100%; }
        }
    }
    .account_timeline.single_user.ex_window {
        width: min(480px,100vw);
        z-index: 32;
        right: 0px;
    }
    .account_timeline.allaccount_user.ex_window {
        z-index: 31;
        right: 0px;
    }
    .instance_window.ex_window {
        width: min(420px,100vw);
        height: min(960px,100vh);
        z-index: 33;
        right: 0px;
        > .column_instance_info { height: calc(100% - 36px); }
    }
    .post_detail_window.ex_window {
        width: min(640px,100vw);
        height: min(800px,100vh);
        z-index: 34;
        right: 0px;
        > h2>a { color: var(--core-color-text); }
        > .timeline {
            height: calc(100% - 36px);
            > ul { height: calc(100% - 8px); }
        }
    }
    .flash_window.ex_window {
        width: min(640px,100vw);
        height: auto;
        max-height: 100vh;
        z-index: 35;
        top: 50vh;
        left: 50vw;
        border-width: 4px;
        transform: translate(-50%, -50%);
        > .timeline {
            display: flex;
            > ul {
                width: calc(100% - 48px);
                height: 100%;
            }
            > button.flash_button {
                flex-shrink: 0;
                flex-grow: 0;
                border-radius: 12px;
                padding: 4px;
                > img {
                    width: 24px;
                    height: 24px;
                }
                &.__on_flash_prev            { background-color: var(--label-color-flash-prev-bg); }
                &.__on_flash_next            { background-color: var(--label-color-flash-next-bg); }
                &.__on_flash_next.next_close { background-color: var(--label-color-flash-close-bg); }
                &:hover { filter: brightness(var(--core-brightness-hover)); }
            }
        }
        > .footer {
            > .flash_page {
                padding: 1px;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                font-family: Arial, "メイリオ", sans-selif;
            }
        }
    }
    #singleton_emoji_window.ex_window {
        width: min(480px,100vw);
        height: calc(100vh - 340px);
        z-index: 52;
        left: 64px;
        top: auto;
        bottom: 4px;
        > .suggest_box {
            > .palette_mode {
                display: inline-block;
                background-color: var(--emoji-color-disabled-bg);
                color: var(--emoji-color-disabled-text);
                border-radius: 12px;
                margin: 1px 0px;
                padding: 1px;
                width: calc(50% - 12px);
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                &.active { color: var(--core-color-text); }
            }
            > #emoji_mode_palette.active { background-color: var(--emoji-color-palette-bg); }
            > #emoji_mode_method.active  { background-color: var(--emoji-color-method-bg); }
        }
        > .palette_flex {
            display: flex;
            flex-direction: column;
            height: calc(100% - 102px);
        }
    }
    #singleton_submit_window.ex_window {
        width: min(960px,100vw);
        height: min(800px,100vh);
        z-index: 51;
        right: 4px;
        top: auto;
        bottom: 4px;
        &:has(#__txt_postarea:focus) { opacity: 1; }
        > .submit_box {
            height: calc(100% - 90px);
            > #__txt_postarea {
                width: calc(100% - 8px);
                height: calc(100% - 8px);
            }
            
        }
        > .footer>button {
            display: inline-block;
            width: calc(50% - 4px);
            height: 48px;
        }
    }
    > #pop_multi_window>.ex_window.active:not(#singleton_submit_window) { z-index: 39; }

    /*=== Extend Column (Optional) ===============================================================*/
    > #pop_extend_column {
        > .reaction_col {
            display: flex;
            flex-direction: column;
            height: calc(100vh - 64px);
            width: min(480px,100vw);
            > .timeline {
                flex-shrink: 1;
                flex-grow: 0;
                flex-basis: 180px;
                > ul {
                    overflow-y: auto;
                    height: 100%;
                }
            }
        }
    }

    /*=== Emoji Palette Section Layout ===========================================================*/
    .emoji_palette_section {
        & h5 {
            margin: 2px 8px;
            padding: 1px 16px;
            border-bottom: solid 1px var(--core-color-border);
            color: var(--head-color-opthead-text);
            font-size: 14px;
            text-align: right;
        }
        .suggest_box>.emoji_suggest_textbox {
            font-size: 18px;
            font-weight: bold;
        }
        .recent_emoji, .emoji_list, .suggest_option {
            & a {
                display: inline-block;
                > img {
                    display: inline-block;
                    height: 32px;
                    width: auto;
                    vertical-align: text-bottom;
                }
                &:hover {
                    background-color: var(--core-color-thinui-bg);
                    filter: brightness(var(--core-brightness-hover));
                    cursor: pointer;
                }
            }
        }
        .recent_emoji {
            flex-shrink: 0;
            background-color: var(--emoji-color-recent-bg);
            border-radius: 12px;
            > .recent_emoji_list>a {
                &:nth-child(-n+9) {
                    padding-left: 20px;
                    background-position: top +6px left;
                    background-repeat: no-repeat;
                    background-size: 18px 18px;
                }
                &:nth-child(1) { background-image: url("../resources/1.png"); }
                &:nth-child(2) { background-image: url("../resources/2.png"); }
                &:nth-child(3) { background-image: url("../resources/3.png"); }
                &:nth-child(4) { background-image: url("../resources/4.png"); }
                &:nth-child(5) { background-image: url("../resources/5.png"); }
                &:nth-child(6) { background-image: url("../resources/6.png"); }
                &:nth-child(7) { background-image: url("../resources/7.png"); }
                &:nth-child(8) { background-image: url("../resources/8.png"); }
                &:nth-child(9) { background-image: url("../resources/9.png"); }
            }
        }
        .suggest_option {
            flex-shrink: 0;
            background-color: var(--emoji-color-suggest-bg);
            border-radius: 12px;
            > .first_option>a>img { height: 48px; }
            > .first_shortcode {
                font-family: Arial, "メイリオ", sans-selif;
                font-size: 18px;
            }
            > .other_option {
                max-height: 160px;
                overflow-y: auto;
                &::-webkit-scrollbar { width: 8px; }
            }
            &:has(>.first_option:empty) { display: none; }
        }
        .emoji_list {
            flex-basis: 100%;
            flex-shrink: 1;
            flex-grow: 1;
            background-color: var(--core-color-ui-bg);
            overflow-y: auto;
            &::-webkit-scrollbar { width: 8px; }
            > .emoji_section { font-size: 1px; }
        }
    }

    /*=== General Mini Option Window Layout ======================================================*/
    .ex_mini_window {
        display: none;
        position: absolute;
        left: 72px;
        top: 192px;
        background-color: var(--core-color-ui-bg);
        border: solid 2px var(--core-color-border);
        border-radius: 12px;
        padding: 8px;
        width: min(360px,calc(100vw - 64px));
        font-size: 14px;
        z-index: 49;
        > .footer {
            margin: -4px;
            > button {
                display: inline-block;
                width: calc(50% - 4px);
                height: 48px;
            }
        }
    }
    > #pop_bookmark_option {
        & select#__cmb_ex_bookmark_account { width: 100%; }
        & label {
            display: inline-block;
            width: calc(50% - 48px);
        }
    }
    > #pop_temporary_option {
        > div:not(.footer) { margin: 12px 0px; }
        & select { width: 100%; }
        .lbl_external_instance>.instance_info {
            background-color: var(--tl-color-quote-bg);
            background-size: auto 64px;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 12px;
            margin: 6px 0px;
            padding: 2px;
            font-weight: bold;
            font-size: 15px;
            text-align: center;
        }
        & button.__open_multi_tl_layout {
            vertical-align: text-bottom;
            > img {
                width: 24px;
                height: 24px;
            }
        }
        .lbl_external_instance, .lbl_list, .lbl_channel, .lbl_antenna { display: none; }
    }

    /*=== Lastest Release Notification Layout ====================================================*/
    > #pop_lastest_release {
        display: none;
        position: absolute;
        left: 72px;
        bottom: 6px;
        background-color: var(--help-color-version-bg);
        background-image: url("../resources/illust/il_info2.png");
        background-position: center left -36px;
        background-repeat: no-repeat;
        border: solid 2px var(--core-color-border);
        border-radius: 16px;
        padding-left: 96px;
        padding-right: 32px;
        z-index: 81;
        > h3 {
            margin: 6px 12px;
            padding: 0px;
            font-family: Arial, "メイリオ", sans-selif;
            font-size: 24px;
        }
        > a.dl_link {
            display: block;
            margin: 4px;
            padding: 2px;
            border-radius: 8px;
            background-color: var(--help-color-version-linkbg);
            color: var(--core-color-text);
            text-align: center;
            font-weight: bold;
        }
        > button.window_close_button {
            position: absolute;
            top: 4px;
            right: 6px;
            margin: 0px;
            padding: 0px;
            > img {
                height: 28px;
                width: auto;
            }
        }
    }
}

/*=== Grouping Preferance ========================================================================*/

#pop_ex_timeline>.search_timeline,
#pop_ex_timeline>.trend_timeline,
#pop_ex_timeline>.clip_timeline {
    opacity: 0.95;
    width: min(480px,100vw);
}
#pop_extend_column>.reaction_col>h2,
#pop_ex_timeline h2 {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    font-family: Arial, "メイリオ", sans-selif;
    font-size: 20px;
    color: var(--core-color-text);
    margin: 0px;
    padding: 8px 24px;
}
#pop_ex_timeline h2 { background-color: var(--core-color-header-bg); }
#pop_extend_column>.reaction_col #__txt_reaction_search,
#singleton_emoji_window #__txt_emoji_search,
#pop_ex_timeline #__txt_search_query {
    width: calc(100% - 8px);
}
