/*=== General Stylesheet =========================================================================*/

input[type="text"] { font-family: Arial, "メイリオ", sans-selif; }

/*=== Content Layout =============================================================================*/

#content {
    position: absolute;
    display: flex;
    top: 36px;
    left: 64px;
    width: calc(100% - 68px);
    overflow-x: auto;
    &::-webkit-scrollbar { height: 8px; }

    > * { flex-shrink: 0; margin: 0px 2px; }

    /*=== Account List Layout ====================================================================*/
    > #account_list {
        text-align: center;
        flex-basis: 320px;
        max-width: 420px;
        flex-grow: 1;
        position: relative;

        > .tool_section {
            background-color: var(--core-color-ui-bg);
            > button.icon_label_set {
                border-radius: 18px;
                border-style: none;
                margin: 2px;
                padding: 5px 24px;
                padding-left: 42px;
                font-size: 16px;
                font-weight: bold;
                > img {
                    height: 32px;
                    width: 32px;
                }
            }
            > label[for="__chk_update_profile"] { font-size: 14px; }
            > .middle_help {
                text-align: center;
                font-weight: bold;
                font-size: 13px;
            }
        }
        > .col_loading {
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            padding: 24px;
            right: 0px;
            left: 0px;
            background-color: var(--tl-color-bg);
            border-radius: 12px;
            text-align: center;
            color: var(--tl-color-sublabel-text);
            font-family: Arial, "メイリオ", sans-selif;
            font-size: 14px;
        }
        > h2 {
            border-radius: 18px;
            background-color: var(--label-color-account-list-bg);
            text-align: center;
            color: var(--core-color-text);
            margin: 0px;
            padding: 4px 24px;
        }
        > ul {
            margin: 0px;
            padding: 0px;
            height: calc(100vh - 202px);
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar { width: 8px; }
            > li {
                background-color: var(--tl-color-bg);
                border-radius: 18px;
                list-style-type: none;
                margin: 4px;
                padding: 8px 12px;
                text-align: left;

                > h3 {
                    border-top-left-radius: 18px;
                    border-top-right-radius: 18px;
                    background-color: var(--core-color-header-bg);
                    background-image: url("../resources/ic_sort_y.png");
                    background-position: right 12px center;
                    background-repeat: no-repeat;
                    font-size: 18px;
                    font-family: Arial, "メイリオ", sans-selif;
                    color: var(--core-color-text);
                    margin: -8px -12px 8px;
                    padding: 6px 32px;
                    cursor: move;
                }
                > .user {
                    >.usericon {
                        border-radius: 12px;
                        width: 48px;
                        height: 48px;
                        margin-right: 12px;
                        float: left;
                    }
                    > .username {
                        color: var(--core-color-text);
                        font-size: 18px;
                        font-weight: bold;
                        margin: 0px;
                        width: calc(100% - 60px);
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    > .userid {
                        font-family: Arial, "メイリオ", sans-selif;
                        color: var(--tl-color-userlink-text);
                        font-size: 14px;
                    }
                    & .inline_emoji {
                        height: 24px;
                        width: auto;
                        vertical-align: text-bottom;
                    }
                }
                > .option {
                    margin: 8px 16px;
                    padding: 0px;
                    font-size: 13px;
                    > li {
                        list-style-type: none;
                        margin: 0px;
                        padding: 0px;
                    }
                }
                > .foot_button {
                    text-align: right;
                    margin: 12px 0px;

                    & button {
                        border-radius: 6px;
                        padding: 2px 8px;
                        font-size: 13px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    /*=== Account Authonation Window Layout ======================================================*/
    > #account_auth {
        text-align: center;
        flex-basis: 480px;
        flex-grow: 7;

        > h2 {
            border-radius: 18px;
            background-color: var(--label-color-account-auth-bg);
            color: var(--core-color-text);
            margin: 0px;
            padding: 4px 24px;
        }
        > #transition_section {
            position: relative;
            border-radius: 24px;
            background-color: var(--core-color-ui-bg);
            margin-top: 8px;
            width: 100%;
            height: calc(100vh - 112px);
            & button {
                border-radius: 8px;
                border: solid 2px var(--core-color-border);
                font-family: Arial, "メイリオ", sans-selif;
                font-size: 18px;
                margin: 6px 12px;
                padding: 4px 32px;
            }
        }
        #select_platform {
            position: absolute;
            background-color: var(--tl-color-bg);
            border-radius: 16px;
            margin: 18px;
            padding: 32px 12px;
            top: 50%;
            transform: translate(0%, -50%);
            right: 0px;
            left: 0px;
            > .instance_box {
                border-radius: 12px;
                background-color: var(--tl-color-quote-bg);
                font-size: 16px;
                font-family: Arial, "メイリオ", sans-selif;
                margin: 6px;
                padding: 8px 24px;
                > input { width: calc(100% - 96px); }
            }
            > .instance_info {
                background-color: var(--tl-color-quote-bg);
                background-size: auto 64px;
                background-position: center center;
                background-repeat: no-repeat;
                border-radius: 12px;
                margin: 6px;
                padding: 6px 2px;
                font-weight: bold;
                font-size: 15px;
                text-align: center;
                > .inline_emoji {
                    display: inline-block;
                    height: 24px;
                    width: auto;
                    vertical-align: text-bottom;
                }
            }
            > button.icon_label_set {
                border-radius: 18px;
                border-style: none;
                margin: 8px;
                padding: 7px 24px;
                padding-left: 48px;
                font-size: 16px;
                font-weight: bold;
                > img {
                    height: 36px;
                    width: 36px;
                }
            }
            > .bottom_auth_warn {
                display: block;
                color: var(--help-color-text-strong);
            }
        }
        .platform_section {
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            padding: 24px;
            right: 0px;
            left: 0px;
            display: none;
            > h3 {
                border-radius: 12px;
                background-color: var(--core-color-header-bg);
                color: var(--core-color-text);
                margin: 12px 0px;
                padding: 8px 24px;
            }
            & button {
                border-radius: 6px;
                font-family: Arial, "メイリオ", sans-selif;
                font-size: 18px;
                margin: 6px 12px;
                padding: 8px 32px;
            }
            .instance_box {
                border-radius: 6px;
                background-color: var(--tl-color-quote-bg);
                font-size: 16px;
                font-family: Arial, "メイリオ", sans-selif;
                margin: 6px 12px;
                padding: 8px 24px;
            }
            > .instance_form, > .auth_form {
                background-color: var(--tl-color-bg);
                border-radius: 16px;
                padding: 24px 12px;
            }
            #txt_mst_auth_code { width: calc(100% - 96px); }
        }
    }
}

