body {
    background-color: #222222;
    background-image: url("../resources/back_kari.jpg");
    background-attachment: fixed;
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

a:link, a:visited {
    color: #a5a9b5;
}

a:hover {
    color: #d1d8ed;
}
button {
    background-color: #4f4f4f;
    color: #ffffff;
}
button:hover {
    background-color: #6f6f6f;
}
button:active {
    background-color: #222222;
    color: #a0a0a0;
}
button[disabled] {
    background-color: #222222;
    color: #666666;
}
.ui-tooltip {
    background-color: rgba(34,34,34,0.85);
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 14px;
}
#navi {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(67,85,107,0.85);
    border-top-right-radius: 18px;
    width: 64px;
    height: 100vh;
}
#navi>ul {
    margin: 32px 8px;
    padding: 0px;
}
#navi>ul>li {
    list-style-type: none;
    margin: 32px 0px;
    padding: 0px;
}
#navi>ul>li>a:hover>img {
    border-radius: 12px;
    background-color: rgba(255,255,255,0.15);
}

#header>#pop_toast {
    z-index: 9;
    font-family: Arial, "ƒƒCƒŠƒI", sans-selif;
    font-size: 18px;
    position: absolute;
    top: 6px;
    left: 88px;
}
#header>#pop_toast>span {
    display: inline-block;
    border-radius: 12px;
    border: solid 1px #ffffff;
    margin-left: 6px;
    margin-right: 50vw;
    margin-bottom: 8px;
    background-color: rgba(34,34,34,0.85);
    padding: 8px 32px;
}
