body {
    background-color: #222222;
    background-image: url("../resources/back_kari.jpg");
    background-attachment: fixed;
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

a:link, a:visited {
    color: #a5a9b5;
}

a:hover {
    color: #d1d8ed;
}
button {
    background-color: #4f4f4f;
    color: #ffffff;
}
button:hover {
    background-color: #6f6f6f;
}
button:active {
    background-color: #222222;
    color: #a0a0a0;
}
button[disabled] {
    background-color: #222222;
    color: #666666;
}

#navi {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(67,85,107,0.85);
    border-top-right-radius: 18px;
    width: 64px;
    height: 100vh;
}
#navi>ul {
    margin: 0px;
    padding: 0px;
}
#navi>ul>li {
    list-style-type: none;
    margin: 6px;
    padding: 12px;
}

#header>#pop_toast {
    visibility: hidden;
    z-index: 9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(32,32,32,0.85);
    padding: 8px 32px;
    font-family: Arial, "ƒƒCƒŠƒI", sans-selif;
    font-size: 18px;
    position: absolute;
    top: 0px;
    left: 96px;
}
