#header>.head_buttons {
    margin: 12px;
    text-align: center;
}
#header>.head_buttons>button {
    border-radius: 8px;
    border: solid 2px #ffffff;
    padding: 6px 32px;
    font-size: 16px;
    font-weight: bold;
}

#columns input, #columns select {
    background-color: #4f4f4f;
    color: #ffffff;
    border: solid 1px #ffffff;
}
#columns>table .timeline>.col_head {
    background-color: #808080;
    position: relative;
}
#columns>table .timeline>.col_head>h2,
#columns>table .timeline>.col_head>h3 {
    margin: 0px;
}
.__txt_col_head, .__txt_col_type {
    width: calc(100% - 112px);
}
#columns>table .timeline>.col_head>.col_layout {
    position: absolute;
    right: 24px;
    top: 12px;
}

.timeline button {
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding: 2px 8px;
    font-size: 13px;
    font-weight: bold;
}
.timeline select {
    border-radius: 4px;
    padding: 2px 8px;
}
.timeline>.col_option {
    margin: 4px;
    text-align: center;
}
.timeline>ul {
    margin: 0px;
    padding: 0px;
    height: calc(100vh - 232px);
    overflow-y: auto;
}

.timeline>ul>li>h4 {
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin: -12px -12px 12px;
    padding: 8px 24px;
    background-color: #808080;
}
.timeline>ul>li>h4>.tl_color {
    position: absolute;
    right: 24px;
    top: 8px;
}

.timeline>ul>li>.tl_option {
    font-size: 14px;
    margin: 6px 12px;
}
.timeline>ul>li>.tl_option>div {
    margin: 12px 0px;
}
.timeline>ul>li>.tl_option>.foot_button {
    text-align: right;
    margin: 12px 0px;
}
