#header>#head_postarea {
    position: relative;
    margin-top: 4px;
}
#header>#head_postarea>.left_block {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
}
#header>#head_postarea>.right_block {
    position: absolute;
    top: 0px;
    right: 0px;
}
#header>#head_postarea .__lnk_postuser {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
}
#header>#head_postarea .__lnk_postuser>img {
    border-radius: 12px;
    width: 72px;
    height: 72px;
    cursor: pointer;
}
#header>#head_postarea .visibility_icon {
    position: absolute;
    top: 0px;
    left: 76px;
}
#header>#head_postarea .visibility_icon>.__lnk_visibility>img {
    display: inline-block;
    border-radius: 8px;
    width: 48px;
    height: 48px;
}
#header>#head_postarea .visibility_icon>.__lnk_visibility:hover>img {
    background-color: #225588;
    cursor: pointer;
}
#header>#head_postarea .visibility_icon>.__lnk_visibility>img.selected {
    background-color: #3388cc;
}
#header>#head_postarea .cw_block {
    position: absolute;
    top: 49px;
    left: 76px;
}
#header>#head_postarea #on_custom_emoji {
    display: inline-block;
    vertical-align: text-bottom;
}
#header>#head_postarea #on_custom_emoji:hover>img {
    background-color: #225588;
    cursor: pointer;
}

#header>#head_postarea #__txt_content_warning {
    position: relative;
    top: -7px;
    font-family: "メイリオ", sans-selif;
    text-align: left;
    background-color: #434343;
    border-radius: 4px;
    border: solid 1px #888888;
    color: #ffffff;
    width: 174px;
}
#header>#head_postarea #__txt_postarea {
    position: absolute;
    top: -2px;
    right: 154px;
    padding: 2px;
    font-family: "メイリオ", sans-selif;
    text-align: left;
    border-radius: 6px;
    background-color: #434343;
    border: solid 1px #888888;
    color: #ffffff;
    width: calc(100vw - 514px);
    height: 68px;
}
#header>#head_postarea .submit_buttons {
    position: absolute;
    top: 0px;
    right: 8px;
}
#header>#head_postarea .submit_buttons>a:hover>img {
    border-radius: 8px;
    background-color: #555555;
    cursor: pointer;
}
.submit_buttons>#on_submit {
    position: absolute;
    top: 0px;
    right: 72px;
}
.submit_buttons>#on_last_delete {
    position: absolute;
    top: 0px;
    right: 36px;
}
.submit_buttons>#on_last_delete_paste {
    position: absolute;
    top: 36px;
    right: 36px;
}
.submit_buttons>#on_last_copy {
    position: absolute;
    top: 0px;
    right: 0px;
}
.submit_buttons>#on_last_replychain {
    position: absolute;
    top: 36px;
    right: 0px;
}

/*================================================================================================*/

#header>#pop_postuser {
    display: none;
    z-index: 10;
    width: 400px;
    position: absolute;
    top: 108px;
    left: 12px;
}

.account_list>.__lnk_account_elm {
    display: block;
    margin: 4px 0px;
    padding: 8px 16px 16px;
    border-radius: 8px;
    background-color: rgba(32,32,32,0.85);
    font-size: 14px;
}
.account_list>.__lnk_account_elm:hover {
    background-color: rgba(32,67,96,0.85);
    cursor: pointer;
}
.account_list>.__lnk_account_elm>.user_icon {
    border-radius: 12px;
    width: 48px;
    height: 48px;
    margin-right: 12px;
    float: left;
}
.account_list>.__lnk_account_elm>.display_name {
    font-weight: bold;
}
.account_list>.__lnk_account_elm>.user_domain {
    font-size: 13px;
}

#header>#pop_context_menu {
    display: none;
    z-index: 8;
    position: absolute;
    top: 108px;
    left: 12px;
}
#header>#pop_context_menu ul {
    border-radius: 8px;
    background-color: #222222;
    border: solid 1px #aaaaaa;
    padding: 4px;
    color: #ffffff;
    font-size: 13px;
}
#header>#pop_context_menu ul>li>div {
    border-radius: 8px;
    margin: 2px 0px;
    padding: 4px 12px;
}
#header>#pop_context_menu ul>li>div.ui-state-active {
    border: solid 1px rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.15);
}
#header>#pop_context_menu>ul>li>ul {
    width: 360px;
}

#header>#pop_custom_emoji {
    display: none;
    z-index: 7;
    width: 400px;
    position: absolute;
    top: 198px;
    left: -2px;
}
#header>#pop_custom_emoji>.emoji_head {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    font-family: Arial, "メイリオ", sans-selif;
    color: #ffffff;
    margin: 0px;
    margin-bottom: 6px;
    padding: 8px 24px;
}
#header>#pop_custom_emoji>.emoji_head>* {
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}
#header>#pop_custom_emoji>.emoji_list {
    background-color: rgba(34,34,34,0.8);
    overflow-y: auto;
    height: calc(100vh - 380px);
}
#header>#pop_custom_emoji>.emoji_list::-webkit-scrollbar{
   width: 8px;
}
#header>#pop_custom_emoji>.emoji_list::-webkit-scrollbar-track{
   background-color: transparent;
}
#header>#pop_custom_emoji>.emoji_list::-webkit-scrollbar-thumb{
   background-color: #808080;
}
#header>#pop_custom_emoji>.emoji_list img,
#header>#pop_extend_column>.reaction_col>.reaction_list img {
    display: inline-block;
    height: 32px;
    width: auto;
    vertical-align: text-bottom;
}
#header>#pop_custom_emoji>.emoji_list a:hover img,
#header>#pop_extend_column>.reaction_col>.reaction_list a:hover img {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
#header>#pop_custom_emoji button {
    display: block;
    padding: 6px;
    text-align: center;
    width: 100%;
}
#header>#pop_expand_image {
    display: none;
    z-index: 8;
    border-radius: 8px;
    background-color: rgba(34,34,34,0.8);
    padding: 4px 0px 4px 4px;
    position: absolute;
    top: 108px;
    right: 0px;
}

/*================================================================================================*/

#header>#pop_search_column {
    display: none;
    z-index: 5;
    border-radius: 8px;
    background-color: rgba(34,34,34,0.8);
    padding: 4px 0px 4px 4px;
    position: absolute;
    top: 72px;
    right: 0px;
}
#header>#pop_search_column input {
    font-family: "メイリオ", sans-selif;
    font-size: 16px;
    background-color: #434343;
    border-radius: 4px;
    border: solid 1px #888888;
    color: #ffffff;
    width: 100%;
}
#header>#pop_search_column #__on_search {
    display: none;
}

#header>#pop_extend_column>.reply_col,
#header>#pop_extend_column>.reaction_col,
#header>#pop_search_column {
    opacity: 0.95;
    width: 400px;
}
#header>#pop_extend_column>.post_detail_col {
    opacity: 0.95;
    width: 480px;
}
#header>#pop_extend_column>.reply_col>h2,
#header>#pop_extend_column>.reaction_col>h2,
#header>#pop_extend_column>.post_detail_col>h2,
#header>#pop_search_column h2 {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    font-family: Arial, "メイリオ", sans-selif;
    font-size: 20px;
    color: #ffffff;
    margin: 0px;
    padding: 12px 24px;
}
#header>#pop_extend_column>.post_detail_col>h2,
#header>#pop_search_column h2 {
    background-color: #5e5e5e;
}
#header>#pop_extend_column>.post_detail_col>.lnk_post_browser {
    display: block;
    background-color: rgba(255,255,255,0.1);
    border-radius: 8px;
    padding: 2px;
    margin: 4px 12px;
    text-align: center;
    width: 100%;
}
#header>#pop_extend_column>.post_detail_col>.lnk_post_browser:hover {
    background-color: rgba(255,255,255,0.15);
}
#header>#pop_extend_column>.post_detail_col ul,
#header>#pop_search_column ul {
    height: calc(100vh - 224px);
}
#header>#pop_extend_column>.reply_col #__txt_replyarea {
    display: block;
    padding: 2px;
    font-family: "メイリオ", sans-selif;
    text-align: left;
    background-color: #434343;
    color: #ffffff;
    margin-top: 6px;
    width: 100%;
    height: 108px;
}
#header>#pop_extend_column>.reply_col ul,
#header>#pop_extend_column>.reaction_col ul {
    height: auto;
}
#header>#pop_extend_column>.reaction_col>.reaction_list {
    overflow-y: auto;
    height: calc(100vh - 320px);
}
#header>#pop_extend_column>.reaction_col>.reaction_list::-webkit-scrollbar{
   width: 8px;
}
#header>#pop_extend_column>.reaction_col>.reaction_list::-webkit-scrollbar-track{
   background-color: transparent;
}
#header>#pop_extend_column>.reaction_col>.reaction_list::-webkit-scrollbar-thumb{
   background-color: #808080;
}
#header>#pop_extend_column button,
#header>#pop_search_column button {
    display: block;
    border-radius: 12px;
    padding: 6px;
    text-align: center;
    width: 100%;
    border: solid 2px #ffffff;
    padding: 4px 32px;
    font-size: 16px;
    font-weight: bold;
}

/*================================================================================================*/

#columns {
    position: absolute;
    top: 108px;
    left: 66px;
    width: calc(100% - 70px);
    overflow-x: scroll;
}
#columns::-webkit-scrollbar{
   height: 8px;
}
#columns::-webkit-scrollbar-track{
   background-color: transparent;
}
#columns::-webkit-scrollbar-thumb{
   background-color: #808080;
}

#columns>.__initial_message {
    z-index: 8;
    padding: 24px;
    margin: 24px;
    background-color: rgba(255,255,255,0.08);
    border-radius: 12px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

#columns>table {
    width: 100%;
    table-layout: fixed;
}

.col_action>a:hover>img {
    border-radius: 8px;
    background-color: rgba(255,255,255,0.15);
    cursor: pointer;
}

#columns>table .closed_col {
    display: none;
    position: relative;
    border-radius: 18px;
    padding: 0px;
    width: 48px;
    max-width: 48px;
    background-color: #888888;
    opacity: 0.85;
}
#columns>table .closed_col>.ic_column_num {
    position: absolute;
    top: 8px;
    left: 8px;
}
#columns>table .closed_col>.col_action {
    position: absolute;
    top: 48px;
    left: 8px;
}
#columns>table .closed_col>h2 {
    position: absolute;
    top: 108px;
    left: 44px;
    transform: rotate(90deg);
    transform-origin: left top;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    font-family: Arial, "メイリオ", sans-selif;
    font-size: 32px;
    text-align: left;
}
#columns>table .closed_col>h2>span {
    display: inline-block;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.2);
    margin-left: 32px;
    margin-bottom: 8px;
    padding: 2px 12px;
    font-size: 18px;
    vertical-align: middle;
}
#columns>table .timeline {
    position: relative;
    padding: 0px;
}
#columns>table .timeline>.col_head {
    position: relative;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    color: #ffffff;
    margin: 0px 0px 2px;
    padding: 12px 24px;
    height: 58px;
}

#columns>table .timeline>.col_head>h2,
#columns>table .timeline>.col_head>h3 {
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: Arial, "メイリオ", sans-selif;
}
#columns>table .col_head>h2 {
    font-size: 20px;
    margin-bottom: 4px;
}
#columns>table .timeline>.col_head>.col_action {
    position: absolute;
    bottom: 0px;
    right: 4px;
}
#columns>table .timeline>.col_head>.col_action>.ic_column_warn {
    display: none;
    position: absolute;
    bottom: 46px;
    right: 0px;
}
#columns>table .timeline>.col_head>.col_action>a {
    margin: 0px;
}
#columns>table .timeline>.col_head>.ic_column_cursor {
    position: absolute;
    bottom: 0px;
    left: 24px;
    margin: 0px;
    padding: 0px;
}

/*================================================================================================*/

.timeline>.col_loading {
    position: absolute;
    top: calc(50vh - 128px);
    padding: 24px;
    right: 0px;
    left: 0px;
    background-color: rgba(62,62,62,0.92);
    border-radius: 12px;
    text-align: center;
    color: #dddddd;
    font-family: Arial, "メイリオ", sans-selif;
    font-size: 14px;
}

.timeline>ul {
    background-color: rgba(255,255,255,0.08);
    margin: 0px;
    padding: 0px;
    height: calc(100vh - 204px);
    overflow-y: auto;
    overflow-x: hidden;
}

.timeline>ul::-webkit-scrollbar{
   width: 8px;
}
.timeline>ul::-webkit-scrollbar-track{
   background-color: transparent;
}
.timeline>ul::-webkit-scrollbar-thumb{
   background-color: #808080;
}

.timeline>ul>li {
    background-color: rgba(62,62,62,0.92);
    border-radius: 12px;
    list-style-type: none;
    margin: 6px;
    padding: 8px 12px;
}
.timeline>ul>li.inserted_info {
    font-size: 12px;
    color: #aaaaaa;
    text-align: center;
}

.timeline>ul>li>.label_head {
    border-radius: 12px;
    padding: 2px 24px;
    margin: -8px -12px 6px;
    font-size: 12px;
    text-align: right;
}

.label_reply {
    background-color: #cc355d;
}
.label_reblog {
    background-color: #408a08;
}
.label_favorite {
    background-color: #a8880a;
}
.label_postcount {
    background-color: #606060;
}
.label_follow {
    background-color: #3562cc;
}
.label_follower {
    background-color: #cc6a35;
}

.timeline>ul>li>.user {
    position: relative;
}
.timeline>ul>li>.user>.usericon {
    border-radius: 12px;
    width: 48px;
    height: 48px;
    margin-right: 12px;
    float: left;
}

.timeline>ul>li>.user>.username {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    width: calc(100% - 60px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.inline_emoji {
    display: inline-block;
    height: 24px;
    width: auto;
    vertical-align: text-bottom;
}

.timeline>ul>li>.user>.userid {
    display: block;
    color: #cccccc;
    font-size: 14px;
    width: calc(100% - 60px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.timeline>ul>li>.user>.visibilityicon {
    position: absolute;
    top: -2px;
    right: -2px;
    opacity: 0.2;
}

.timeline>ul>li>.content {
    color: #ffffff;
    line-height: 1.15em;
}
.timeline>ul>li .expand_header {
    display: block;
    border-radius: 6px;
    padding: 2px 18px;
    margin: 6px 0px;
    font-size: 13px;
}
.timeline>ul>li .expand_header:hover {
    cursor: pointer;
    padding-left: 24px;
}
.label_cw {
    background-color: #8c720b;
}
.label_sensitive {
    background-color: #a10000;
}

.timeline>ul>li>.content>.main_content {
    font-size: 13px;
    margin: 6px 18px;
    overflow-wrap: break-word;
}

.timeline>ul>li>.content>.main_content a:not([class*="mention"]) {
    display: inline-block;
    max-width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
}
.timeline>ul>li>.content>.main_content p.reaction_emoji {
    font-size: 20px;
    border-radius: 8px;
    margin: 4px 0px;
    padding: 2px 12px;
    background-color: rgba(255,255,255,0.08);
}
.timeline>ul>li>.media .media_preview {
    border-radius: 8px;
    display: inline;
    height: 96px;
    width: auto;
}
.timeline>ul>li>.post_quote {
    border-radius: 8px;
    background-color: rgba(255,255,255,0.08);
    overflow-wrap: break-word;
    font-size: 13px;
    padding: 8px 12px;
}
.cw_content {
    display: none;
}

.timeline>ul>li>.content p {
    margin: 0px;
}
.timeline>ul>li>.content>.main_content p {
    margin-bottom: 1em;
}

.timeline>ul>li>.detail_info {
    margin: 6px 8px;
    font-family: Arial, "メイリオ", sans-selif;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
.timeline>ul>li>.detail_info span,
.timeline>ul>li>.detail_info a {
    display: inline-block;
    border-radius: 12px;
    padding: 2px 18px;
    margin: 2px;
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 32px;
}
.detail_info .hashtag {
    background-color: rgba(255,255,255,0.1);
    background-image: url("../resources/ic_tag.png");
}
.detail_info .count_post {
    background-image: url("../resources/ic_cnt_pst.png");
}
.detail_info .count_follow {
    background-image: url("../resources/ic_cnt_flw.png");
}
.detail_info .count_follower {
    background-image: url("../resources/ic_cnt_flwr.png");
}
.detail_info .count_reply {
    background-image: url("../resources/ic_cnt_rp.png");
}
.detail_info .count_reblog {
    background-image: url("../resources/ic_cnt_rblg.png");
}
.detail_info .count_fav {
    background-image: url("../resources/ic_cnt_fav.png");
}
.detail_info .count_reaction_total {
    background-image: url("../resources/ic_emoji.png");
}
.timeline>ul>li>.detail_info .counter {
    width: 17%;
}
.timeline>ul>li>.detail_info .count_reaction {
    background-color: rgba(0,172,255,0.2);
    padding-right: 8px;
}

.timeline>ul>li>.post_footer {
    text-align: right;
}
.timeline>ul>li>.post_footer>.created_at {
    display: block;
    background-color: rgba(255,255,255,0.05);
    padding: 2px 12px;
    border-radius: 6px;
    color: #dddddd;
    font-size: 12px;
}
.timeline>ul>li>.post_footer>.created_at:hover {
    background-color: rgba(255,255,255,0.1);
    padding-right: 18px;
    cursor: pointer;
}
.timeline>ul>li>.post_footer>.from_address {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 2px 18px;
    margin: 6px -12px -8px;
    font-size: 12px;
}

.timeline>ul>li.short_userinfo {
    background-color: rgba(62,82,96,0.92);
}
.timeline>ul>li.short_userinfo>.user_header {
    height: 64px;
}
.timeline>ul>li.short_userinfo .main_content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

