/*=== Column Layout ==============================================================================*/

#columns {
    position: absolute;
    top: 108px;
    left: 66px;
    width: calc(100% - 70px);
    overflow-x: scroll;
    &::-webkit-scrollbar { height: 8px; }
    > .__initial_message {
        z-index: 8;
        padding: 24px;
        margin: 24px;
        background-color: rgba(255,255,255,0.08);
        border-radius: 12px;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
    }
    .col_action>a:hover>img,
    .gp_action>a:hover>img {
        border-radius: 8px;
        background-color: rgba(255,255,255,0.15);
        cursor: pointer;
    }
    > table {
        /*=== Closed Column Layout ===============================================================*/
        .closed_col {
            display: none;
            position: relative;
            border-radius: 18px;
            padding: 0px;
            width: 48px;
            max-width: 48px;
            background-color: #888888;
            opacity: 0.85;
            > .ic_column_num {
                position: absolute;
                top: 8px;
                left: 8px;
            }
            > .col_action {
                position: absolute;
                top: 48px;
                left: 8px;
            }
            > .rotate_head {
                position: absolute;
                top: 108px;
                left: 44px;
                transform: rotate(90deg);
                transform-origin: left top;
                white-space: nowrap;
                font-family: Arial, "メイリオ", sans-selif;
                text-align: left;

                > * { display: inline-block; }
                > h2 {
                    margin: 0px;
                    padding: 0px;
                    margin-right: 24px;
                    font-size: 32px;
                }
                > .group_label {
                    position: relative;
                    border-radius: 16px;
                    margin: 0px 6px;
                    padding: 0px;
                    padding-right: 18px;
                    font-size: 14px;
                    height: 24px;

                    > .ic_group_num {
                        width: 24px;
                        height: 24px;
                    }
                    > span {
                        position: relative;
                        display: inline-block;
                    }
                    > .speed_meter {
                        top: -8px;
                        margin-left: 8px;
                    }
                    > .unread_count {
                        top: -7px;
                        border-radius: 12px;
                        margin-left: 8px;
                        padding: 2px 8px;
                        background-color: rgba(255,255,255,0.15);
                        font-weight: bold;
                        font-size: 15px;
                        &:empty { display: none; }
                    }
                }
            }
        }

        /*=== Opened Column Layout ===============================================================*/
        .column_td {
            position: relative;
            padding: 0px;

            > .col_head {
                position: relative;
                border-top-left-radius: 18px;
                border-top-right-radius: 18px;
                color: #ffffff;
                margin: 0px 0px 2px;
                padding: 12px 24px;
                height: 58px;

                > h2 {
                    margin: 0px;
                    padding: 0px;
                    font-size: 20px;
                    margin-bottom: 4px;
                    text-align: left;
                    font-family: Arial, "メイリオ", sans-selif;
                }
                > h6 {
                    position: absolute;
                    top: 24px;
                    right: 40px;
                    margin: 0px;
                    padding: 0px;
                    text-align: right;
                    font-family: Arial, "メイリオ", sans-selif;
                    font-size: 14px;
                }
                > .col_action {
                    position: absolute;
                    bottom: 0px;
                    right: 4px;
                    > .ic_column_warn {
                        display: none;
                        position: absolute;
                        bottom: 46px;
                        right: 0px;
                    }
                    > a { margin: 0px; }
                }
                > .ic_column_cursor {
                    position: absolute;
                    bottom: 0px;
                    left: 24px;
                    margin: 0px;
                    padding: 0px;
                }
            }

            /*=== Timeline Groups Layout =========================================================*/
            > .col_tl_groups {
                height: calc(100vh - 204px);
                > .tl_group_box {
                    position: relative;
                    > .group_head {
                        position: relative;
                        font-family: Arial, "メイリオ", sans-selif;
                        border-top-right-radius: 12px;
                        border-bottom-right-radius: 12px;
                        height: 20px;

                        & img {
                            width: 18px;
                            height: 18px;
                        }
                        > .gp_action>.ic_group_warn { display: none; }
                        > h4, > h6 {
                            margin: 0px;
                            padding: 0px;
                        }
                        > h4 {
                            position: absolute;
                            top: 2px;
                            left: 48px;
                            font-size: 13px;
                        }
                        > h6 {
                            position: absolute;
                            top: 3px;
                            right: 68px;
                            font-weight: normal;
                            font-size: 12px;
                        }
                        > .ic_group_cursor {
                            position: absolute;
                            top: 1px;
                            left: 8px;
                        }
                        > .gp_action {
                            position: absolute;
                            top: 1px;
                            right: 1px;
                        }
                    }
                }
            }
        }
    }
}

#columns>table,
#pop_ex_timeline>.account_timeline>table {
    width: 100%;
    table-layout: fixed;
}
.inline_emoji,
#columns>.__initial_message .ic_inline {
    display: inline-block;
    height: 24px;
    width: auto;
    vertical-align: text-bottom;
}

/*=== Timeline Layout ============================================================================*/

.timeline {
    > .col_loading {
        position: absolute;
        top: calc(50% - 128px);
        padding: 24px;
        right: 0px;
        left: 0px;
        background-color: rgba(62,62,62,0.92);
        border-radius: 12px;
        text-align: center;
        color: #dddddd;
        font-family: Arial, "メイリオ", sans-selif;
        font-size: 14px;
    }
    & ul {
        background-color: rgba(34,34,34,0.683);
        margin: 0px;
        padding: 0px;
        height: calc(100vh - 228px);
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar { width: 8px; }

        /*=== Normal Layout Style ================================================================*/
        > li {
            background-color: rgba(56,56,56,0.683);
            position: relative;
            border-radius: 12px;
            list-style-type: none;
            margin: 6px;
            padding: 8px 12px;

            > .label_head {
                font-family: Arial, "メイリオ", sans-selif;
                border-radius: 12px;
                padding: 3px 24px;
                margin: -8px -12px 6px;
                font-size: 12px;
                text-align: right;
            }
            > .visibilityicon {
                position: absolute;
                top: 2px;
                right: 2px;
                width: 36px;
                height: 36px;
                opacity: 0.2;
            }

            /*=== User Info ======================================================================*/
            > .user {
                position: relative;
                margin: -2px -4px 0px;

                > .usericon {
                    border-radius: 12px;
                    width: 48px;
                    height: 48px;
                    cursor: pointer;
                }
                > .username {
                    position: absolute;
                    left: 60px;
                    top: 2px;
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: bold;
                    margin: 0px;
                    width: calc(100% - 60px);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                > .userid {
                    position: absolute;
                    left: 60px;
                    top: 28px;
                    display: block;
                    font-family: Arial, "メイリオ", sans-selif;
                    color: #bbbbbb;
                    font-size: 14px;
                    width: calc(100% - 60px);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    > a {
                        text-decoration: underline;
                        cursor: pointer;
                        &:hover {
                            text-decoration: none;
                            color: #eeeeee;
                        }
                    }
                }
                > .instance_icon {
                    position: absolute;
                    top: 0px;
                    right: 4px;
                    opacity: 0.3;
                }

                /*=== User Info (Normal2 Layout) =================================================*/
                &.prof_normal2 {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin: -4px -6px 2px;
                    > .usericon {
                        border-radius: 12px;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        vertical-align: text-bottom;
                    }
                    > .username {
                        position: static;
                        font-size: 13px;
                        font-weight: bold;
                        display: inline;
                        > .inline_emoji { height: 18px; }
                    }
                    > .userid {
                        position: static;
                        display: inline;
                        font-size: 12px;
                    }
                }
            }

            /*=== Contents Warning Expand Header =================================================*/
            .expand_header, .content_length_limit {
                display: block;
                background-image: url("../resources/ic_warn.png");
                background-position: center left 8px;
                background-repeat: no-repeat;
                background-size: 24px 24px;
                border-radius: 8px;
                padding: 2px 18px;
                margin-bottom: 8px;
                padding-left: 40px;
                font-size: 11px;
                &:hover {
                    cursor: pointer;
                    padding-left: 48px;
                }
            }

            /*=== Contents Info ==================================================================*/
            > .content {
                color: #ffffff;
                line-height: 1.15em;
                margin-bottom: 6px;
                & p { margin: 0px; }
                > .main_content {
                    font-size: 13px;
                    margin: 0px 12px;
                    overflow-wrap: break-word;

                    & a:not([class*="mention"]) {
                        display: inline-block;
                        max-width: 240px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        vertical-align: text-bottom;
                    }
                    & p:not(:last-child) { margin-bottom: 1em; }
                }
                > .hidden_content {
                    margin-bottom: 4px;
                    font-size: 12px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            /*=== Reaction Emoji Info ============================================================*/
            > .reaction_emoji {
                text-align: right;
                margin: 4px 8px;
                > .inline_emoji {
                    height: 32px;
                    width: auto;
                }
            }

            /*=== Media Info =====================================================================*/
            > .media a.__on_media_expand {
                display: inline-block;
                width: calc(50% - 3px);
                position: relative;
                overflow: hidden;
                margin: 0px;
                max-height: 240px;
                vertical-align: text-bottom;
                &::before {
                    content: "";
                    padding-top: 100%;
                    display: block;
                }
                &.img_grid_single { width: 100%; }
                &.img_grid_4      { width: calc(50% - 3px); }
                &.img_grid_16     { width: calc(25% - 6px); }
                &.img_grid_64     { width: calc(12.5% - 12px); }
                > img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    object-fit: cover;
                    vertical-align: text-bottom;
                }
                .media_preview { border-radius: 8px; }
            }

            /*=== Poll Info ======================================================================*/
            > .post_poll {
                margin: 2px;
                > .options>button.__on_poll_vote {
                    display: inline-block;
                    background-color: rgba(62,82,96,0.8);
                    border: solid 1px #cccccc;
                    border-radius: 6px;
                    width: calc(50% - 4px);
                    margin: 0px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 12px;
                    font-weight: normal;
                    &:hover     { background-color: rgba(62,96,82,0.8); }
                    &[disabled] { background-color: rgba(34,34,34,0.8); }
                }
                > .poll_info {
                    text-align: right;
                    font-size: 11px;
                    color: #cccccc;
                }
            }
            > .poll_graph_section {
                > .poll_opt_graph {
                    margin: 1px;
                    padding: 0px 12px;
                    border-radius: 6px;
                    > .text { font-size: 12px; }
                    > .rate {
                        font-size: 11px;
                        color: #cccccc;
                    }
                }
                > .poll_footer {
                    text-align: right;
                    font-size: 11px;
                    color: #cccccc;
                }
            }

            /*=== Quote Info =====================================================================*/
            > .post_quote {
                margin: 2px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                background-color: rgba(76,76,76,0.683);
                border-left: solid 8px #bbbbbb;
                overflow-wrap: break-word;
                font-size: 11px;
                padding: 4px 8px;
                padding-left: 12px;
                > .quote_userarea {
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                &:hover {
                background-color: rgba(76,76,76,0.98);
                    border-left-color: #ffffff;
                    cursor: pointer;
                }
            }

            /*=== Detail Info ====================================================================*/
            > .detail_info {
                margin: 6px 8px;
                font-family: Arial, "メイリオ", sans-selif;
                font-size: 18px;
                font-weight: bold;
                text-align: right;

                & span, & a {
                    display: inline-block;
                    border-radius: 12px;
                    padding: 2px 18px;
                    margin: 2px;
                    background-position: center right;
                    background-repeat: no-repeat;
                    background-size: 24px 24px;
                    padding-right: 32px;
                }
                > a.card_link {
                    display: block;
                    position: relative;
                    border-radius: 18px;
                    padding: 0px;
                    width: 100%;
                    background-color: #808080;
                    background-position: center center;
                    background-size: cover;
                    &::before {
                        content: "";
                        padding-top: 100%;
                        display: block;
                    }
                    > .descriptions {
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        padding: 2px 12px;
                        border-bottom-left-radius: 18px;
                        border-bottom-right-radius: 18px;
                        width: calc(100% - 24px);
                        background-color: rgba(34,34,34,0.8);
                        color: #ffffff;
                        > h6 {
                            margin: 0px;
                            padding: 0px;
                            font-size: 14px;
                            font-weight: bold;
                        }
                        > .desc_text {
                            font-size: 12px;
                            font-weight: normal;
                        }
                    }
                    &:hover>.descriptions { background-color: rgba(62,82,96,0.8); }
                }
                > .hashtags>a {
                    background-color: rgba(255,255,255,0.1);
                    background-image: url("../resources/ic_tag.png");
                    &:hover {
                        background-color: rgba(255,255,255,0.25);
                        cursor: pointer;
                    }
                }
                .count_post           { background-image: url("../resources/ic_cnt_pst.png"); }
                .count_follow         { background-image: url("../resources/ic_cnt_flw.png"); }
                .count_follower       { background-image: url("../resources/ic_cnt_flwr.png"); }
                .count_reply          { background-image: url("../resources/ic_cnt_rp.png"); }
                .count_reblog         { background-image: url("../resources/ic_cnt_rblg.png"); }
                .count_fav            { background-image: url("../resources/ic_cnt_fav.png"); }
                .count_reaction_total { background-image: url("../resources/ic_emoji.png"); }
                .counter              { width: 17%; }
                .count_reaction {
                    background-color: rgba(0,172,255,0.2);
                    padding-right: 8px;
                }
            }

            /*=== Footer Info ====================================================================*/
            > .post_footer {
                text-align: right;
                font-family: Arial, "メイリオ", sans-selif;
                font-size: 12px;
                > .created_at {
                    display: block;
                    border-top: solid 1px #bbbbbb;
                    padding: 2px 16px;
                    margin-bottom: -4px;
                    color: #bbbbbb;
                    font-size: 11px;
                    &:hover {
                        padding-right: 24px;
                        text-decoration: underline;
                        color: #dddddd;
                        cursor: pointer;
                    }
                }
                > .from_address {
                    background-position: center right;
                    background-repeat: no-repeat;
                    background-size: 32px 32px;
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                    padding: 3px 18px;
                    margin: 4px -12px -8px;
                    padding-right: 42px;
                    &.from_channel { background-image: url("../resources/ic_channel.png"); }
                    &.from_external {
                        &.Mastodon { background-image: url("../resources/ic_mastodon.png"); }
                        &.Misskey  { background-image: url("../resources/ic_misskey.png"); }
                    }
                }
                > .from_address.created_at {
                    color: #ffffff;
                    padding-right: 16px;
                    border-top: none;
                    &.label_24h { background-color: #852a2a; }
                    &.label_72h { background-color: #855c2a; }
                    &.label_1w  { background-color: #2a8564; }
                    &.label_1m  { background-color: #2a6185; }
                    &.label_hfy { background-color: #2a3985; }
                    &.label_1y  { background-color: #472a85; }
                }
            }
        }
        > li.self_post,
        > li.chat_timeline.self_post>.content { background-color: rgba(62,68,82,0.683); }
        > li.rebloged_post,
        > li.chat_timeline.rebloged_post>.content { background-color: rgba(62,76,66,0.683); }
        > li.favorited_post { background-color: rgba(76,76,62,0.683); }

        /*=== Short User Infomation Style ========================================================*/
        > li.short_userinfo {
            background-color: rgba(62,82,96,0.683);
            > .user_header { height: 64px; }
            .main_content {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        /*=== Chat Layout Style ==================================================================*/
        > li.chat_timeline {
            position: relative;
            background-color: transparent;
            list-style-type: none;
            margin: 14px 4px 3px;
            padding: 0px;

            > .user {
                margin: 0px;

                > .usericon {
                    display: inline-block;
                    border-radius: 16px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    margin: 0px;
                    width: 32px;
                    height: 32px;
                }
                > .userid {
                    display: inline-block;
                    font-size: 11px;
                    position: absolute;
                    top: -13px;
                    left: 8px;
                }
                > .created_at {
                    font-family: Arial, "メイリオ", sans-selif;
                    color: #bbbbbb;
                    display: inline-block;
                    text-decoration: underline;
                    font-size: 11px;
                    position: absolute;
                    top: -13px;
                    right: 0px;
                    cursor: pointer;
                    &:hover {
                        text-decoration: none;
                        color: #eeeeee;
                    }
                }
            }
            .visibilityicon {
                position: absolute;
                top: 2px;
                right: 2px;
                width: 32px;
                height: 32px;
                opacity: 0.2;
            }
            > .content {
                position: relative;
                left: 34px;
                background-color: rgba(56,56,56,0.683);
                margin: 0px;
                padding: 8px 12px;
                border-radius: 8px;
                width: calc(100% - 58px);
                min-height: 20px;
                color: #ffffff;
                font-size: 12px;
                > .main_content {
                    line-height: 1.35em;
                    margin: 0px;
                    padding: 0px;
                    font-size: 13px;
                }
                > .from_address {
                    text-align: right;
                    font-family: Arial, "メイリオ", sans-selif;
                    font-size: 11px;
                    margin-bottom: -12px;
                    margin-right: -12px;
                    > div {
                        display: inline-block;
                        border-radius: 6px;
                        background-position: center right;
                        background-repeat: no-repeat;
                        background-size: 32px 32px;
                        max-width: 70%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        padding-left: 12px;
                        padding-right: 38px;
                        &.from_channel { background-image: url("../resources/ic_channel.png"); }
                        &.from_external {
                            &.Mastodon { background-image: url("../resources/ic_mastodon.png"); }
                            &.Misskey  { background-image: url("../resources/ic_misskey.png"); }
                        }
                    }
                }
            }
            > .label_head {
                font-size: 11px;
                border-radius: 6px;
                margin: 2px 0px 2px 32px;
                padding: 3px 18px;
                font-size: 11px;
                text-align: right;
            }
            > .media a.__on_media_expand {
                max-height: 160px;
                .media_preview { border-radius: 6px; }
            }
        }
        > li.chat_timeline.self_post {
            .usericon {
                left: auto;
                right: 0px;
            }
            .content { left: 0px; }
        }

        /*=== List Layout Style ==================================================================*/
        > li.short_timeline {
            position: relative;
            border-radius: 12px;
            list-style-type: none;
            margin: 3px 6px;
            padding: 0px;
            height: 24px;
            cursor: default;
            & img {
                width: 24px;
                height: 24px;
            }
            .usericon {
                display: inline-block;
                border-radius: 12px;
                margin-right: 6px;
            }
            .inline_emoji {
                height: 18px;
                width: auto;
            }
            > .content {
                position: absolute;
                top: 0px;
                left: 28px;
                display: inline-block;
                width: calc(100% - 58px);
                color: #ffffff;

                > .main_content {
                    display: inline-block;
                    width: 100%;
                    height: 20px;
                    border-radius: 12px;
                    margin: 0px;
                    padding: 2px 8px;
                    font-size: 12px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            > .list_media {
                position: absolute;
                top: 0px;
                right: 0px;
                display: inline-block;
                width: 24px;

                .media_preview {
                    display: inline-block;
                    height: 24px;
                    width: 24px;
                    border-radius: 12px;
                }
            }
            > .notif_footer {
                position: absolute;
                top: 0px;
                right: 0px;
                display: inline-block;
                > .ic_target_account { border-radius: 12px; }
            }
        }
        > li.short_timeline.short_notification>.content { width: calc(100% - 88px); }

        /*=== Media Layout Style ===============================================================*/
        > li.media_timeline {
            position: relative;
            background-color: transparent;
            list-style-type: none;
            margin: 4px;
            padding: 0px;

            > .label_head {
                border-radius: 6px;
                padding: 3px 18px;
                margin: 2px 0px;
                font-size: 11px;
            }
            > .user {
                margin: 0px 8px;
                > .usericon {
                    border-radius: 18px;
                    width: 36px;
                    height: 36px;
                }
                > .username, > .userid { font-size: 13px; }
                > .username {
                    left: 48px;
                    top: 1px;
                }
                > .userid {
                    left: 48px;
                    top: 20px;
                }
            }
            > .content>.main_content {
                line-height: 1.35em;
                margin: 2px 8px;
                padding: 0px;
                font-size: 12px;
                width: calc(100% - 12px);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            > .media a.__on_media_expand {
                max-height: 320px;
                margin: 3px 0px;
            }
            > .post_footer {
                font-size: 11px;
                > .from_address {
                    border-radius: 8px;
                    margin: 4px 0px;
                }
            }
        }

        /*=== Gallery Layout Style ===============================================================*/
        > li.gallery_timeline {
            display: inline-block;
            position: relative;
            background-color: transparent;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            width: calc(50% - 4px);

            > a.__on_media_expand {
                display: inline-block;
                width: 100%;
                position: relative;
                overflow: hidden;
                margin: 0px;
                &::before {
                    content: "";
                    padding-top: 100%;
                    display: block;
                }
                > img {
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    object-fit: cover;
                    vertical-align: text-bottom;
                }
                &.warn_sensitive::after {
                    content: url("../resources/ic_warn.png");
                    z-index: 1;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    background-color: rgba(161,0,0,0.75);
                    width: 32px;
                    height: 32px;
                    border-radius: 16px;
                }
            }
        }
        > li>.label_head.label_reblog {
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 32px 32px;
            padding-right: 42px;
        }

        /*=== Anonymous Layout Style =============================================================*/
        > li.anonymous_layout {
            background-color: transparent;
            border-radius: 0px;
            margin: 8px 6px;
            padding: 0px;
            border-bottom: solid 1px #bbbbbb;
            > .content>.main_content { margin: 0px 8px; }

        }

        /*=== Scroll Loader Layout ===============================================================*/
        > li.__scroll_loader {
            background-image: url("../resources/ic_reload.png");
            background-position: center center;
            background-repeat: no-repeat;
            height: 32px;
        }
    }
    &.tl_group_box ul {
        border-left: solid 4px #cccccc;
        border-bottom: solid 4px #cccccc;
        border-bottom-left-radius: 12px;
    }
    .__context_posts {
        > li:not(.chat_timeline),
        > li.chat_timeline>.content {
            &:hover { background-color: rgba(60,60,60,0.9); }
        }
    }
}

/*=== General Timeline Preference ================================================================*/

.label_reply     { background-color: #cc355d; }
.label_reblog    { background-color: #408a08; }
.label_favorite  { background-color: #a8880a; }
.label_postcount { background-color: #606060; }
.label_follow    { background-color: #3562cc; }
.label_follower  { background-color: #cc6a35; }
.label_bookmark  { background-color: #c10000; }
.label_cw        { background-color: #8c720b; }
.label_sensitive { background-color: #a10000; }
.label_limitover { background-color: #0b638c; }
.label_private   { background-color: #dfdfdf; color: #333333; }
.cw_content      { display: none; }

/*=== Profile Column Layout ======================================================================*/

.user_header { background-color: #999999; }
.ff_pop_user {
    display: none;
    position: absolute;
    z-index: 8;
    border-radius: 6px;
    border: solid 2px #cccccc;
}
.column_profile {
    width: 420px;
    position: relative;
    > .profile_header {
        height: 216px;
        overflow-y: hidden;
        .user_header { height: 96px; }
        .detail_info {
            > .counter {
                width: 82px;
                margin: 2px 1px;
                padding-left: 8px;
                &:hover {
                    opacity: 0.75;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            > a {
                position: relative;
                top: 6px;
                padding: 0px;
                margin: 0px;
                > img {
                    width: 24px;
                    height: 24px;
                    vertical-align: text-bottom;
                }
                &:hover>img {
                    background-color: rgba(255,255,255,0.2);
                    cursor: pointer;
                }
            }
            &.auth_details {
                margin: -2px -4px 4px;
                > .counter { width: 64px; }
            }
        }
    }
    .profile_detail, .pinned_post {
        height: auto;
        max-height: calc((100vh - 340px) * 0.2);
    }
    > .profile_detail {
        .prof_field {
            width: 100%;
            & th, & td {
                margin: 1px;
                border-radius: 6px;
                padding: 2px 8px;
                background-color: rgba(255,255,255,0.08);
                font-size: 13px;
            }
            & td{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    > .user_post_elm {
        >.tab {
            margin-top: 4px;
            text-align: center;
            > a {
                display: inline-block;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                background-color: rgba(62,62,62,0.92);
                padding: 3px;
                width: calc(50% - 28px);
                font-size: 13px;
                cursor: pointer;
                &:hover { background-color: rgba(62,82,96,0.92); }
            }
        }
        > .media_uls { display: none; }
    }
    .post_div {
        position: relative;
        > h4 {
            border-radius: 12px;
            z-index: 1;
            display: inline-block;
            position: absolute;
            top: 6px;
            right: 14px;
            margin: 0px;
            padding: 4px 24px;
            opacity: 0.8;
            font-size: 12px;
        }
    }
    .pinned_block {
        > h4 {
            background-color: #3b783b;
            &:hover {
                cursor: pointer;
                opacity: 1.0;
            }
        }
        > ul>li { background-color: rgba(82,66,62,0.683); }
    }
    .posts_block>h4 { background-color: #3b5778; }
    .posts, .media_post { height: calc((100vh - 310px) * 0.6); }
    > .user_bookmark_elm, > .user_ff_elm { display: none; }

    .ff_short_profile {
        height: 212px;
        > .__initial_text {
            height: 104px;
            padding-top: 82px;
            font-size: 13px;
            text-align: center;
        }
    }
    .bookmarks { height: calc((100vh - 310px) * 0.8); }
    .ff_nametags {
        height: calc((100vh - 310px) * 0.8 - 212px);
        > li.user_nametag {
            display: inline-block;
            width: calc(50% - 28px);
            height: 32px;
            margin: 2px 0px;
            .usericon {
                width: 36px;
                height: 36px;
            }
            .username, .userid { font-size: 12px; }
            .username {
                left: 46px;
                top: 2px;
            }
            .userid {
                left: 46px;
                top: 20px;
            }
            &:hover { background-color: rgba(88,88,88,0.92); }
        }
    }
}
.column_profile>.profile_header, .post_detail_col .short_userinfo {
    .detail_info>.counter.ff_private {
        width: 184px;
        font-size: 14px;
        padding: 2px 12px;
        text-align: center;
        &:hover {
            opacity: 1.0;
            text-decoration: none;
            cursor: not-allowed;
        }
    }
}

/*=== Instance Info Layout =======================================================================*/

.column_instance_info {
    display: none;
    width: 360px;
    position: relative;
    > .instance_header {
        height: 312px;
        overflow-y: hidden;
        .header_image { height: 96px; }
        .info {
            position: relative;
            > .instance_icon {
                width: 36px;
                width: 36px;
            }
            > .instance_name {
                position: absolute;
                top: 2px;
                left: 48px;
                margin: 0px;
                padding: 0px;
                font-size: 24px;
                width: calc(100% - 60px);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            > .instance_link {
                display: block;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                padding: 4px 12px;
                font-size: 14px;
                border-left: solid 12px #aaaaaa;
                background-color: rgba(255,255,255,0.08);
            }
        }
        & ul.detail_info {
            margin: 6px 0px;
            text-align: left;
            background-color: transparent;
            height: auto;
            > li {
                margin: 4px 0px;
                padding: 0px;
                border-radius: 16px;
                > h6 {
                    display: inline-block;
                    margin: 0px;
                    padding: 4px 16px;
                    background-color: rgba(255,255,255,0.15);
                    border-radius: 16px;
                    font-size: 16px;
                }
                > span {
                    padding: 2px 12px;
                    font-size: 16px;
                }
                &.total_users    { background-color: #4461a6; }
                &.monthly_users  { background-color: #bf4747; }
                &.monthly_status { background-color: #62913f; }
            }
        }
    }

    /*=== Instance Description Layout (Invoke default layout) ====================================*/
    > .instance_detail {
        height: calc(100vh - 646px);
        & h1, & h2, & h3, & h4, & h5, & h6 {
            border-radius: 0px !important;
            border-left: solid 12px #aaaaaa !important;
            margin: 6px -12px !important;
            padding: 4px 16px !important;
            background-color: transparent !important;
            font-size: 18px !important;
        }
        & ul {
            background-color: transparent !important;
            margin: 8px 0px !important;
            padding: 0px !important;
            height: auto !important;
            > li {
                background-color: rgba(255,255,255,0.08) !important;
                margin: 4px 0px !important;
                padding: 4px 12px !important;
            }
        }
    }
    > .instance_admin {
        height: 238px;
        overflow-y: hidden;
        > li.admin_header {
            font-size: 14px;
            font-family: Arial, "メイリオ", sans-selif;
            font-weight: bold;
            text-align: center;
            padding: 4px;
            background-color: #4461a6;
        }
        > li.short_userinfo>.detail_info>.counter { width: 16%; }
    }
}
