/*=== Color Theme Properties =====================================================================*/

:root {
    /*=== Core Layout Color ======================================================================*/
    --core-color-bg:        #222222;
    --core-color-text:      #ffffff;
    --core-color-scrollbar: #808080;
    --core-color-link:      #a5a9b5;
    --core-color-hoverlink: #d1d8ed;
    --core-color-border:    #bbbbbb;

    --core-color-navi-bg:      #43556be0;
    --core-color-navi-hoverbg: #457d8a;

    /*=== Core Input Layout Color ================================================================*/
    --core-color-input-bg:            #434343;
    --core-color-check-bg:            #ffffff20;
    --core-color-check-text:          #cccccc;
    --core-color-check-hoverbg:       #cfcfcf;
    --core-color-check-hovertext:     #333333;
    --core-color-imgcheck-hoverbg:    #888888;
    --core-color-check-activebg:      #337a9f;
    --core-color-check-activetext:    #ffffff;
    --core-color-check-acthvbg:       #afcfef;
    --core-color-check-acthvtext:     #333333;
    --core-color-check-disabledbg:    #222222;
    --core-color-check-disabledtext:  #666666;
    --core-color-button-hoverbg:      #777777;
    --core-color-button-activebg:     #222222;
    --core-color-button-activetext:   #a0a0a0;
    --core-color-button-disabledbg:   #222222;
    --core-color-button-disabledtext: #666666;
    --core-color-checkmask-hoverbg:   #9f3a3399;
    --core-color-checkmask-activebg:  #337a9f99;

    /*=== Core UI Layout Color ===================================================================*/
    --core-color-ui-bg:           #222222e0;
    --core-color-dialog-bg:       #3e3e3ee0;
    --core-color-dialog-buttonbg: #606060;
    --core-color-toast-donebg:    #223c48e0;
    --core-color-toast-errorbg:   #483c22e0;
    --core-color-header-bg:       #87995f;
    --core-color-window-bg:       #222222af;

    --palette-color-border: #808080;
    --palette-color-hover:  #ffffff;

    /*=== Help Layout Color ======================================================================*/
    --help-color-navi-bg: #3e3e3eea;
    --help-color-navi-hoverbg: #3e6080ea;
    --help-color-block-border: #aaaaaa;
    --help-color-nega-bg: #bbbbbb;
    --help-color-nega-text: #333333;
    --help-color-table-bg: #3e3e3ee0;
    --help-color-text-strong: #ffff00;

}

